/*---day tour main css--*/
.daytrtop-bg{background:url(../images/day-tour-main.jpg) no-repeat center center; min-height:350px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.daytr-heading{font:2.6em "Trajan Pro"; color:#fff; margin-top:105px; letter-spacing:0.02em;}
.daytr-heading strong{font:bold 2.6em Corbel; color:#fff000;}

.daytr-countyinfo{margin-top:60px; margin-bottom:-55px; padding:15px 15px 7px; border:1px solid #cecece; background:url(../images/bgwhite.png) repeat left top; letter-spacing:0.02em;}
.daytr-infohead{font:small-caps 1.37em Corbel; color:#222; text-align:center; padding:5px; border-bottom:1px solid #999; background-color:#cecece;}
.daytr-countyinfo ul{margin:13px 0 0px; padding:0px;}
.daytr-countyinfo ul li{list-style:none; font:1.16em Corbel; color:#555; padding-bottom:10px;}
.daytr-countyinfo ul li span{font-size:1.16em; color:#333;}

.daytr-heading1{font:2.2em Corbel; color:#222; letter-spacing:0.02em;}
.daytr-heading1::after{content:""; display:block; width:3%; height:2px; background-color:#888; margin:4px auto 0;}

.daytr-destbx{margin-top:15px; margin-bottom:15px; letter-spacing:0.02em;}
.daytr-destxt{border:1px solid #e1e3e4; border-top:none; box-shadow:0 6px 5px -5px #333;}
.daytr-destxt strong{display:block; font:1.7em Corbel; color:#333; padding:2px 10px;}
.daytr-destxt strong::after{content:"\e080"; font-family:"Glyphicons Halflings"; float:right; font-size:10px; color:#fff; padding:7px 8px; margin-top:17px; background-color:#333; -webkit-border-radius:80%; -moz-border-radius:80%; border-radius:80%;}
.daytr-destxt p{background-color:#f5f5f5; font:1.12em Corbel; color:#555; margin-bottom:0px; padding:7px 10px;}
.daytr-destxt p span{display:inline-block; font:1.1em "Trajan Pro"; color:#ff5a00;}

/*---day tour listing css--*/
.ltdaytr-topbx{position:relative;}
.ltdaytr-topbx img{background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.ltdaytr-toptxt{position:absolute; top:15%; left:9%; letter-spacing:0.02em;}
.ltdaytr-toptxt h1{font:bold 4.2em corbel; color:#fff000;}
.ltdaytr-toptxt h1 span{color:#fff; font-size:0.5em; display:inline-block; font-weight:normal;}
.ltdaytr-toptxt p{font:1.4em Corbel; color:#fff;}
.ltdaytr-toptxt p::after{content:"\e114"; font-family:"Glyphicons Halflings"; font-size:15px; color:#fff; padding-left:8px; vertical-align:middle;}

.rhtbrd{border-right:1px dotted #9a9a9a;}

.ltday-tourswrap{margin-top:0px; letter-spacing:0.02em;}
.ltday-tourswrap::before{content:""; display:block; border-top:1px dotted #9a9a9a; margin:20px auto;}
.ltday-tourswrap:first-child::before{border-top:none; margin-top:0px;}
.ltday-tourswrap:last-child{margin-bottom:20px;}

.ltday-toursimg{padding-right:0px;}
.ltday-tourstxt{padding-left:0px; margin-left:-35px; margin-top:5px;}
.ltstour-link{font:1.6em "Trajan Pro"; color:#333; display:inline-block;}
.ltday-tourstxt p{font:italic 1.1em Corbel; color:#888; padding:4px 0px 13px; border-bottom:1px dotted #ccc;}

.ltday-tourpri{margin-top:5px; font:1.1em Corbel; color:#888;}
.ltday-tourpri strong{display:block; font:1.6em "Trajan Pro"; color:#ff5a00;}

.ltday-bttlink{font:16px Corbel; color:#fff; background-color:#ff5a00; text-transform:uppercase; text-align:center; padding:7px 15px; margin-top:15px; margin-bottom:20px; display:inline-block; float:right; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.ltday-bttlink:hover, .ltday-bttlink:focus, .lnday-linkbtt:hover, .lnday-linkbtt:focus{color:#fff;}

.ltday-mapbx{padding:5px; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.ltday-contentbx{margin-top:15px;}
.ltday-contentbx p{font:1.15em/24px Corbel !important; color:#555; text-align:inherit !important; letter-spacing:1px;}

/*---day tour landing css--*/
.lnday-headingbx{letter-spacing:0.02em; text-align:center; margin-bottom:20px;}
.lnday-headingbx h1{font:2.5em "Trajan Pro"; color:#222; margin-top:0px; margin-bottom:0px;}
.lnday-headingbx span{display:block; font:italic 1.3em Corbel; color:#888;}
.lnday-headingbx span::after{content:""; display:block; width:3%; height:2px; background-color:#888; margin:6px auto 0;}

.lnday-infobx{letter-spacing:0.02em;}
.lnday-infobx ul{margin:0px; padding:0px;}
.lnday-infobx ul li{list-style:none; border-bottom:1px dotted #9a9a9a; padding:15px 0px;}
.lnday-infobx ul li p{font:1.3em Corbel; color:#888; margin-bottom:5px;}
.lnday-infobx ul li strong{display:block; font:2em "Trajan Pro"; color:#ff5a00;}
.lnday-infobx ul li span{display:block; font:1.2em Corbel; color:#222;}

.lnday-linkbtt{font:1.25em Corbel; color:#fff; background-color:#ff5a00; text-transform:uppercase; text-align:center; padding:10px 15px; margin-top:20px; display:inline-block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.lnday-txtwrap{letter-spacing:0.02em; margin-top:25px;}
.lnday-txtwrap p{font:1.2em/26px Corbel !important; color:#555;}
.lnday-hightxt{border:1px solid #d4d4d4; padding:10px; text-align:center; margin:25px 0px 20px;}
.lnday-txtwrap p i{color:#ff5a00; font-style:normal;}
.lnday-txtwrap ul{margin:10px 0 0px; padding:0px; padding-left:15px;}
.lnday-txtwrap ul li{list-style:circle; font:1.2em/26px Corbel; color:#555; padding-bottom:5px;}

.lnday-incltxt{font:1.4em "Trajan Pro"; color:#ff5a00; margin-top:25px;}

.lnday-othtour{letter-spacing:0.02em; margin-top:25px; padding:15px 15px 10px; background-color:#ededed;}
.lnday-othhead{font:1.25em "Trajan Pro"; color:#222; text-align:center;}
.lnday-othhead::after{content:""; display:block; width:15%; height:2px; background-color:#888; margin:6px auto 0;}
.lnday-othtour ul{margin:5px 0 0px; padding:0px;}
.lnday-othtour ul li{list-style:none; padding:10px 0px; border-bottom:1px dotted #9a9a9a;}
.lnday-othtour ul li:last-child{border-bottom:none;}
.lnday-othtour ul li .media-body a{font:1.15em/16px Corbel; color:#555;}
.lnday-othtour ul li p{font:1em Corbel; color:#888; margin-bottom:0px; margin-top:3px;}
.lnday-othtour ul li p span{font:1em "Trajan Pro"; color:#ff5a00;}

.tab-listbx, .table-newbg{letter-spacing:0.02em;}
.tab-listbx table, .table-newbg table, .lnday-txtwrap table{width:100%;}
.tab-listbx tr{background-color:#fff;}
.tab-listbx tr:nth-child(2n){background-color:#f1f1f2;}
.tab-listbx th{background-color:#e6e6e6; font:normal 1.19em "Trajan Pro" !important; color:#333; text-align:center !important; padding-top:6px; padding-bottom:6px;}
.tab-listbx td{text-align:center !important; padding-top:6px; padding-bottom:6px; font-size:1.11em;}

.table-newbg table tr, .lnday-txtwrap table tr{background-color:#fcf8e3;}
.table-newbg table tr:nth-child(2n), .lnday-txtwrap table tr:nth-child(2n){background-color:#fff;}
.table-newbg table th, .lnday-txtwrap table th{font:normal 1.01em "Trajan Pro" !important; color:#222; text-align:center !important; padding-top:6px; padding-bottom:6px; background-color:#ffc000;}
.table-newbg table td, .lnday-txtwrap table td{padding-top:8px; padding-bottom:8px; text-align:center !important; font-size:1.11em;}

@media (max-width: 991px) {
.daytrtop-bg{background-image:none; background-color:#222; min-height:inherit;}
.daytr-heading{margin-top:5px; font-size:2em;}
.daytr-heading strong{font-size:1.5em;}

.daytr-countyinfo{margin-top:15px; margin-bottom:0px;}
.daytr-countyinfo ul li{display:inline; padding:5px 15px;}

.rhtbrd{border-right:none;}	

.ltdaytr-toptxt{top:8%;}
.ltdaytr-toptxt h1{margin-top:0px; margin-bottom:0px;}
.lnday-headingbx h1{font-size:1.6em !important;}

.lndayimg img, .readsab-outter img{margin:0 auto;}
.lnday-infobx ul li p, .lnday-infobx ul li strong, .lnday-infobx ul li span{display:inline-block;}
.lnday-infobx{text-align:center;}
}

@media (max-width: 767px) {
.daytr-countyinfo{display:none;}
.ltdaytr-topbx img{display:none;}

.ltdaytr-toptxt{position:static; background-color:#222; padding:10px 20px; text-align:center;}
.ltdaytr-toptxt h1{font-size:2.7em;}

.ltday-tourswrap{margin-bottom:20px; text-align:center; border:1px dotted #9a9a9a;}
.ltday-tourswrap::before{border:none;}
.ltday-tourswrap img{margin:0 auto;}

.ltday-tourpri{margin-top:0px;}
.ltday-tourpri strong{display:inline;}
.ltday-tourstxt p{padding-bottom:0px; border-bottom:none;}

.tour-ftright, .tour-ftleft, .ltday-bttlink{float:none;}
}

@media (max-width: 590px) {
.daytr-destbx{width:100%;}
.daytr-destbx img{margin:0 auto;}
.daytr-destbx a{border:1px solid #e1e3e4; display:block; text-align:center;}
.daytr-destxt{border:none;}
}

@media (min-width: 992px) and (max-width: 1199px) {
.ltdaytr-toptxt{top:5%;}
}

@media (max-width: 1199px) {
.ltday-toursimg{padding-right:15px;}
.ltday-tourstxt{padding-left:15px; margin-left:0px;}
}
