@font-face{font-family:'Oswald';src: url('../Oswald.ttf')}
@font-face{font-family:'Myriad Pro';src: url('../MyriadWebPro.ttf')}
@font-face{font-family:"Century Gothic";src: url('../GOTHIC.ttf')}
@font-face{font-family:'Trajan Pro';src: url('../TrajanPro-Regular.otf')}
@font-face{font-family:'Rockwell';src: url('../fonts/ROCK_0.TTF')}
@font-face{font-family:'Corbel';src: url('../fonts/CORBEL_1.TTF')}
@font-face{font-family:"HelveticaNeueLT Std Thin"; src: url('../fontscore.com_h_helvetica-neue-lt-std-35-thin.otf'); /* IE9 */}
@font-face{font-family:'Playball';src: url('../fonts/Playball.ttf')}

@font-face {font-family:'Trajan Pro'; src: url('../fonts/trajan_pro.eot'); src: url('../fonts/trajan_pro.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro.svg#Trajan Pro') format('svg'), url('../fonts/trajan_pro.woff') format('woff'), url('../fonts/trajan_pro.ttf') format('truetype'); font-weight:normal;  font-style:normal;}

@font-face {font-family:"Century Gothic"; src: url('../fonts/gothic.eot'); src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/gothic.svg#Century Gothic') format('svg'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype'); font-weight:normal; font-style:normal;}

IHPLSchema{display:none}

.clearbt{clear:both;}
.mrgt{margin:0 auto;}
.over-autobx{overflow:auto;}

.logo{margin-top:5px;}
img.ihpllogo{width:161px; height:56px; background:url(../images/sprite-image.png) no-repeat 0 0; background-color:transparent;}
.lgnon1{display:none;}

.top-rgthd{margin-top:15px; float:right;}

/*---call css--*/
.call-optbx{margin:-8px 0 0; cursor:pointer; position:relative; letter-spacing:0.01em; text-align:right;}
.call-icon{padding-right:0px; cursor:default;}
.call-icon img{float:right; margin-top:7px; margin-right:-10px; cursor:pointer;}
.call-txtbx{text-align:left;}
.call-txtbx i{font:italic 14px "Century Gothic"; color:#d34205; display:block; margin:7px 0 -4px; padding:0px;}
.call-txtbx p{margin-bottom:0px; font:bold italic 18px "Century Gothic"; color:#333;}

.call-optbx .arrow{position:absolute; background:url(../images/call-icons.png) no-repeat 0 0; width:15px; height:8px; right:20px; top:30px;}
.call-optbx.active .arrow{background-position:-16px 0px;}

.call-dropdown{width:100%; height:455px; background:#fff url(../images/call-map.jpg) no-repeat center top; z-index:500; position:absolute; top:65px; left:0; padding:10px 0 0; display:none; box-shadow:0 6px 5px -5px #333; letter-spacing:0.02em;}
.call-dropdown.user_logged_in{top:130px;}

.call-experts{font:italic 28px Corbel; color:#333; text-align:center;}
.call-experts::after{content:""; display:block; background:#333; width:65px; height:3px; margin:5px auto 10px;}
.call-numb ul, .calln-othr ul{margin:0px; padding:0px; list-style:none;}
.call-numb ul li{display:block; font:16px/38px "Century Gothic"; color:#333; border-bottom:1px solid #ccc; padding:2px 5px;}
.call-numb ul li:last-child{border-bottom:none;}
.call-numb ul li a{float:right; width:150px; font-weight:bold; color:#333;}
.call-numb ul li br{display:none;}

.call-numb-othr p{font:21px Corbel; color:#676767; text-transform:uppercase; text-align:center;}
.calln-othr ul li{font:16px/38px "Century Gothic"; color:#333; border-bottom:1px solid #ccc; padding:15px 5px; float:left; width:100%;}
.calln-othr ul li p{text-align:left; font:16px "Century Gothic"; color:#333; margin-bottom:0px; float:left; text-transform:none;}
.calln-othr ul li p i{font:14px "Century Gothic"; color:#d34205; display:block;}
.calln-othr ul li a{float:right; width:150px; font-weight:bold; color:#333;}
.calln-othr ul li strong{color:#d34205;}

ul.call-scolm{margin:20px 0 0px; padding:0px; list-style:none; float:left;}
ul.call-scolm li a{display:inline-block; font:bold 15px/38px Corbel; color:#333; padding:2px 8px;}
.cll-mail{width:32px; height:32px; background:url(../images/call-icons.png) no-repeat 0 -9px; vertical-align:middle; display:inline-block;}

.call-dropdown .closebtt{display:block; font:italic bold 22px Corbel; color:#d34205; letter-spacing:0.08em; padding-top:12px; margin:0 auto; text-align:center; cursor:pointer; transition:all linear 0.2s; -webkit-transition:all linear 0.2s; -moz-transition:all linear 0.2s; -o-transition:all linear 0.2s;}
.call-dropdown .closebtt i{display:inline-block; background:#fff url(../images/closebutton.png) no-repeat 0 0; width:15px; height:15px; vertical-align:middle;}
/*---call css end--*/

.cf:before, .cf:after{content:""; display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}

/*---menu css--*/
.menuwrapper{width:100%; height:auto; margin:5px 0 0px; padding:0px;}
.navcontainer{max-width:1070px; width:100%; margin:0 auto; position:relative; z-index:100;}

.new-menu-link{display:none; float:left; text-decoration:none; padding:19px 10px;}
.new-menu{float:left; max-width:80em; height:35px; margin:0px; padding:0px; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.new-menu ul{padding:0px; margin:0px; list-style:none; position:relative; display:inline-table;}
.new-menu ul:after{content:""; clear:both; display:block;}
.new-menu ul li{padding:0px; float:left; border-right:1px solid #7c7b7b; position:relative;}
.new-menu ul li:last-child, .new-menu ul ul li{border-right:none !important;}
.new-menu > ul > li{display:inline-block;}
.new-menu ul li a{display:block; text-decoration:none; color:#fff; font:15px/24px "Century Gothic"; padding:6px 5px 5px; text-transform:uppercase;}
.new-menu ul ul{display:none; position:absolute; top:100%; min-width:auto; background-color:#fcfbfb;}
.new-menu ul li:hover > ul{display:block;}
.new-menu ul ul > li{position:relative;}
.new-menu ul ul ul{position:absolute; left:100%; top:-1px;}
.new-menu ul li ul li{float:none;}
.new-menu ul li:hover > a{color:#000;}
.new-menu ul li:hover, .new-menu ul ul li a:hover{color:#000 !important; background-color:#fcfbfb;}
.new-menu ul li:hover > a{border-top:2px solid #bf000f; padding-top:4px;}
.new-menu ul li a i{background:url(../images/whitearrow.png) no-repeat right top; width:10px; height:6px; display:inline-block;}
.new-menu ul li:hover i{background:url(../images/blackarrow.png) no-repeat right top; width:10px; height:6px; display:inline-block;}

.linknav{width:auto; height:auto; float:left; margin:5px 10px; padding:0px;}
.linknav .innerlink{width:100%; list-style:none; display:inline-block; position:relative; left:0px;}
.linknav .innerlink li{width:100%; list-style:none; margin:3px 0 0px; padding:0px; display:inline-block; position:relative; left:0px;}
.linknav .innerlink li a{font:14px "Century Gothic"; color:#333; text-decoration:none; background:url(../images/dot.png) no-repeat 0px 10px; padding:3px 0px 3px 12px; border-top:none; text-transform:none;}
.linknav .innerlink li a:hover{color:#bf000f !important; background-color:transparent !important; border-top:none; padding-top:3px;}
.linknav .muviewall{font:italic 14px Cambria; color:#bf000f; float:right; padding:0px; margin:0px; border-bottom:none;}

.nrhtext a:hover, .new-menu .navtour-imgbx a:hover{color:#bf000f !important; background-color:transparent !important; border-top:none;}

.navrightbx{width:260px; height:auto; float:left; margin:0px; padding:10px; background-color:#e5e5e5; letter-spacing:0.02em;}
.nrhtext{width:100%; height:auto; float:left; font:14px "Century Gothic"; color:#666; padding:0px; text-transform:uppercase;}
.nrhtext a{font:14px "Century Gothic" !important; color:#666 !important; padding:0px !important;}
.nrhtext:first-child{margin-bottom:5px;}
.nrhtext span{display:none;}

ul.dropdown-columns2{width:995px; left:-311%;}

ul.dropdown-1col{width:270px; float:left;}
ul.dropdown-2col{width:197px; float:left;}

ul.dropdown-columns2, ul.dropdown-1col, ul.dropdown-2col{-webkit-box-shadow:0px 3px 7px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow:0px 3px 7px 0px rgba(50, 50, 50, 0.75); box-shadow:0px 3px 7px 0px rgba(50, 50, 50, 0.75);}

.nav-colr{background-color:#d34205;}

.new-menu ul li a .muhomeicon{width:25px; height:23px; background:url(../images/menu-icon.png) no-repeat 0 0; background-color:transparent; margin:0 0 -6px; display:inline-block;}
.new-menu ul li:hover > a .muhomeicon{width:25px; height:23px; background:url(../images/menu-icon.png) no-repeat -41px 0px; background-color:transparent; margin:0 0 -6px; display:inline-block;}

.besticon{width:15px; height:17px; background:url(../images/menu-icon.png) no-repeat 0px -56px; display:inline-block; margin-bottom:-3px;}
.summericon{width:17px; height:17px; background:url(../images/menu-icon.png) no-repeat 0px -88px; display:inline-block; margin:0 -2px -2px 0;}
.muluxuryicon{width:15px; height:13px; background:url(../images/menu-icon.png) no-repeat -37px -56px; display:inline-block; vertical-align:middle; margin:-3px 0 0px;}
.muwildlifeicon{width:17px; height:17px; background:url(../images/menu-icon.png) no-repeat -80px -56px; display:inline-block; vertical-align:middle; margin:-3px 0 0px;}
.muoffericon{width:11px; height:21px; background:url(../images/menu-icon.png) no-repeat -128px -56px; display:inline-block; vertical-align:middle; margin:0 0 -2px}
.mutravelicon{width:18px; height:18px; background:url(../images/menu-icon.png) no-repeat -40px -88px; display:inline-block; vertical-align:middle;}
.mumonsoonicon{width:19px; height:20px; background:url(../images/menu-icon.png) no-repeat -97px -120px; display:inline-block; vertical-align:middle;}
.mutoolsicon{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -79px -88px; display:inline-block; vertical-align:top; margin:0 0 0 5px;}
.mublogicon{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -123px -88px; display:inline-block; margin:5px 5px -5px;}
.lgbticon{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -126px -120px; display:inline-block; margin-bottom:-3px;}
.intnationalicon{width:19px; height:16px; background:url(../images/menu-icon.png) no-repeat 0px -120px; display:inline-block; margin-bottom:-4px;}
.muayurveda{width:20px; height:16px; background:url(../images/menu-icon.png) no-repeat -25px -120px; display:inline-block; margin-bottom:-2px;}
.muwhere-hot{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -53px -120px; display:inline-block; vertical-align:middle;}

.newmusprites{background-image:url(../images/menu-img-sprites-new.jpg); background-repeat:no-repeat; display:block; margin:0 auto 3px;}
.newmuluxury{width:200px; height:90px; background-position:0px 0px;}
.newmuwildlife{width:200px; height:90px; background-position:-216px 0px;}
.newmuoffer{width:200px; height:90px; background-position:-216px -104px;}
.newmudestination{width:200px; height:90px; background-position:-216px -208px;}
.newmu-monsoondest{width:200px; height:90px; background:url(../images/tour-menubg.jpg) no-repeat left top;}
.newmu-tourm{width:200px; height:90px; background:url(../images/tour-menubg-1.jpg) no-repeat left top;}

.navlkwrap1{width:218px; height:auto; float:left; margin:10px 10px 0px; padding:0px;}
.new-menu .navtour-imgbx{width:218px; height:auto; float:left; background-color:#e5e5e5; margin:10px 0px; padding:10px 0px 5px; letter-spacing:0.02em; }
.new-menu .navcolor{background-color:#FC0;}
.new-menu .navtour-imgbx a{font:14px "Century Gothic" !important; color:#333 !important; text-decoration:none; text-transform:uppercase; text-align:center; padding:0px !important;}

.navbg{background-color:#7d7e7d; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e)); background-image:-webkit-linear-gradient(top, #7d7e7d, #0e0e0e); background-image:-moz-linear-gradient(top, #7d7e7d, #0e0e0e); background-image:-ms-linear-gradient(top, #7d7e7d, #0e0e0e); background-image:-o-linear-gradient(top, #7d7e7d, #0e0e0e);background-image:linear-gradient(top, #7d7e7d, #0e0e0e); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);}

/*---breadcrumb css--*/
.breadcrumb-linkbx{font:16px Cambria; color:#000; padding:10px 0 5px 0px; margin-bottom:10px;}
.breadcrumb-linkbx a{font:16px Cambria; color:#000; text-decoration:none;}
.breadcrumb-linkbx a:hover{text-decoration:underline;}
.breadcrumb-linkbx span{font:16px Cambria; color:#ac0202;}

/*---footer css--*/
#wrapfooter{overflow:hidden;}
.footer-bg1{background-color:#252528;}
ul.footerlinks{margin-top:15px; margin-bottom:15px;}
ul.footerlinks li{padding-left:0px; padding-right:0px;}
ul.footerlinks li a{font:16px "Century Gothic"; color:#fff; padding-left:3px; padding-right:3px;}
ul.footerlinks li a:hover, .footer-newlinks ul li a:hover{color:#f29ba2;}

.footer-bg2{background-color:#0d0d0e; padding-top:20px; padding-bottom:15px;}
.newsletter{margin-top:5px;}
.newsletter label{font:20px Rockwell; color:#fff; padding-top:3px;}

.wrapsocial{overflow:hidden;}
.footer-address{margin-top:0px; margin-bottom:12px; font:14px/21px "Century Gothic";}
.footer-address .heading{font:24px Rockwell; color:#bf000c; margin-top:18px; margin-bottom:5px;}
.bottomtext{text-align:right;}

.footimg{margin-top:12px;}

.footer-bg3{background-color:#ececec; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(top, #ececec, #dfdfdf); background-image:-moz-linear-gradient(top, #ececec, #dfdfdf); background-image:-ms-linear-gradient(top, #ececec, #dfdfdf); background-image:-o-linear-gradient(top, #ececec, #dfdfdf); background-image:linear-gradient(top, #ececec, #dfdfdf); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ececec, endColorstr=#dfdfdf);}

.social-media ul{margin-top:3px; margin-bottom:0px; text-align:right;}
.social-media li{font:20px Rockwell; color:#fff; vertical-align:middle;}
.icn-facebook{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat 0 0; display:inline-block;}
.icn-twitter{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat -48px 0; display:inline-block;}
.icn-googleplus{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat -96px 0; display:inline-block;}
.icn-linkedin{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat -144px 0; display:inline-block;}

/*---back button css--*/
.back-btt a{float:right; background-color:#d34205; font:18px "Century Gothic"; color:#fff; padding:4px 13px; margin-right:11%; border-top-left-radius:3px; border-top-right-radius:3px; -webkit-border-top-left-radius:3px; -webkit-border-top-right-radius:3px;}

@media (min-width: 992px) and (max-width: 1199px) {
ul.footerlinks li a{line-height:32px;}
.newsletter{margin-left:0%;}
.newsletter label{font-size:18px; padding-left:0px;}

.new-menu{margin-left:5px;}
.new-menu ul li a{padding:6px 1px 5px;}
ul.dropdown-columns2{left:-342%;}

.call-optbx .arrow{right:3px;}
ul.call-scolm li{padding:2px;}
}

@media (min-width: 992px) and (max-width: 1010px) {
.new-menu ul li a{padding:6px 0px 5px;}
}

@media screen and (max-width: 991px) {
.lgnon, .calltext, .call-wrap, .top-search-wrapper .gobtt{display:none;}
.lgnon1{display:block;}

.menuwrapper{margin-top:0px;}
.navbg, .menuwrapper{background-color:#373737 !important; background-image:none; overflow:hidden;}
a.new-menu-link{display:block; padding:0px; width:20px !important; height:20px !important; float:right; text-decoration:none;}
.new-menu{clear:both; min-width:inherit; float:none; height:auto;}
.new-menu, .new-menu > ul ul{overflow:hidden; max-height:0; border-radius:0px;}

.new-menu ul li{float:none;}
.new-menu.active, .new-menu > ul ul.active{max-height:75em;}
.new-menu ul{display:inline;}
.new-menu li, .new-menu > ul > li, .mutext{display:block;}
.new-menu li a{display:block; padding:9px 15px !important; border-bottom:1px solid #7c7b7b; position:relative;}
.new-menu ul li:hover > a{color:#fff;}
	
.clickmu{display:block; width:50px; height:42px; padding:9px 0px 9px; background-color:#414241; border-left:1px solid #7c7b7b; position:absolute; top:0px; right:0; font:20px Arial, Helvetica, sans-serif; color:#fff; text-align:center; cursor:pointer;}
.clickmu:after{content:"+";}
.clickmu.active:after{content:"-";}
.new-menu ul ul, .new-menu ul ul ul{display:inherit; position:relative; left:auto; top:auto; box-shadow:none; border:none;}
ul.dropdown-columns2, ul.dropdown-1col, ul.dropdown-2col{width:auto; float:none !important;}

.new-menu ul li{border-right:none !important;}
.new-menu ul > li a:hover, .click:hover{color:#fff !important; background-color:#bf000f;}
.new-menu ul li:hover{background-color:transparent;}
.new-menu ul li:hover, .new-menu ul ul li a:hover{color:#bf000f !important;}

.new-menu ul li:hover > a{border-top:none;}
.new-menu ul li:hover > a .muhomeicon{background:url(../images/menu-icon.png) no-repeat 0px 0px;}

.navrightbx,.new-menu ul.hasss, .navlkwrap1, .new-menu .navtour-imgbx{width:100%; float:left !important; margin:0px; padding:0px; background:none;}

.mutourbx, .navrightbx strong, .navrightbx .trallview, .navlinks .muviewall, .besticon, .summericon, .muluxuryicon, .muwildlifeicon, .muoffericon, .mutravelicon, .mutoolsicon, .mumonsoonicon, .mublogicon, .musprites, .bnnlnk, .nrhdis,.new-menu ul li a i, .new-menu ul li:hover i, .newmusprites, .new-menu .linkhide, .lgbticon, .muayurveda{display:none; margin:0px;}
.new-menu .navtourbx, .new-menu .navtour-imgbx{background-color:transparent;}

.new-menu .navtourbx a, .new-menu .navtour-imgbx a{text-align:left; padding:9px 16px !important; color:#777 !important;}
.new-menu ul li a .ihplnav{margin:-12px 2px -4px 0px;}

.nrhtext img{display:none;}
.nrhtext span{display:block;}
.nrhtext:first-child{margin-bottom:0px;}

.linknav{width:100%;}
.linknav, .linknav .innerlink li{margin:0px;}
.linknav .innerlink{display:inline;}
.linknav .innerlink li a{padding:9px 0 9px 10px !important; background-image:none; font:14px "Century Gothic"; text-transform:uppercase;}

.social-media ul{text-align:inherit;}

.call-optbx{margin-top:-16px;}
.call-txtbx i{font-size:13px;}
.call-icon img{margin-bottom:-3px;}
.call-txtbx span{margin-top:-3px;}
.call-dropdown{top:51px; height:auto; background-color:#fff; background-image:none;}
.calln-othr ul li{padding:8px 5px;}
ul.call-scolm{margin:8px 0 12px;}
.call-dropdown .closebtt{padding-top:0px; padding-bottom:8px;}
.call-numb ul li:last-child{border-bottom:1px solid #ccc; margin-bottom:12px;}

.back-btt a{margin-right:5%;}
}

@media (max-width: 991px) {
#popUpArea{display:none !important;}

.hdshadow{box-shadow:0 6px 5px -5px #333; padding-bottom:5px;}

.global-sitesbx{margin-top:-4px;}
#countries_dd_msdd{width:100% !important;}

ul.footerlinks li a{line-height:32px;}
.newsletter{margin-left:0%; margin-bottom:55px;}

.bottomtext{text-align:center;}

.newsletter{padding-bottom:55px; margin-bottom:15px; border-bottom:1px dotted #CCC;}
}

@media (max-width: 767px) {
.newsletter input{margin-bottom:15px;}
.newsletter{margin-bottom:15px; padding-bottom:30px;}

.footer-address{margin-bottom:10px;}

.call-txtbx, .call-optbx .arrow{display:none;}
.call-icon{padding-right:15px;}
.call-icon img{margin-right:0px; width:35px; margin-top:10px;}
}

@media only screen and (max-width: 530px){
.calln-othr ul li{padding:8px 5px 2px;}
.calln-othr ul li p{float:none;}
.calln-othr ul li a{float:none; width:auto; display:block;}
.calln-othr ul li .clltm{float:right; width:150px;}
.call-experts{font-size:22px;}
.call-experts::after{margin-bottom:0px;}
.call-icon{padding-left:5px; padding-right:8px;}
}

@media only screen and (max-width: 390px){
.call-numb ul li{font:15px/20px Corbel; padding:8px 5px;}
.call-numb ul li a{font:bold 15px "Century Gothic"; width:140px;}
}

@media only screen and (max-width: 340px){
.call-numb ul li br{display:block;}
.stwth{padding-right:6px;}
}

@media (max-width: 400px) {
.call-dropdown{top:47px;}
}

@media only screen and (max-width: 355px){
.callwp{padding-left:5px; padding-right:3px;}
.callwp p a{font-size:1em;}
}

@media (max-width: 330px) {
.social-media ul li{padding:5px;}
}

@media screen and (max-width: 292px) {
.callwp p a{font-size:0.9em;}
}









