.top-button a, .searchwrap .bttclick, .detailbtt-tourpack a, .enqubtt-tourpack a, .cities-linkbx ul li a, .box a.read-more, .bottombtt a, a.shviewbtta, .toursubmitbtt, a.tripview, .tourdest-linkbx ul li a, .topwildbtt a, .topwildpkg-wrap span, .tg1, .tg2, .tg3, .tg4, .tg5, .tg6, .tg7, .tg8, .tg9, .tg10, .travelatt-linkbx ul li a, .travelgd-infowrap span, .pkgdest-linkbx ul li a, .pkgform-box .submitbtt, .error-search .submitbtt, .hotel-inquirybtt, .hotel-viewdeal a, .hotel-listdet ul li a, .sploff-viewbtt a, .enquiry-form-wrapper .submitbtt, .hotel-inquirybtt, .hotel-viewdeal a, .hotel-listdet ul li a, .sploff-viewbtt a, a.hotel-detbtt, .htsearch-topbtt, .htpopl-destbx ul li a, .htbrandbx a, .htsearch-lstbtt, .lng-viewpkg, .longweek-btt, .grtfest-link a, .wknd-vmbtt, .wknd-sebtt, .wdfrom-linkbx ul li a, .pkglink-dest ul li a, .destpkg-infobx span::before, .updates-read-more, .group-trs-btton .viewbtt-all, .theme-destination a.read-more, .plamonth ul li a, .tour-inqbtt, .more-buton, .theme-destination-box a.read-more{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

.bgcolor{background:#f0f0ef;}

.hpopup{width:780px; height:auto; float:left; margin:10px; padding:6px; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.hpophd{width:98.5%; height:auto; float:left; margin:0px 0 5px; padding:5px 5px 3px; background-color:#EDF1F4;}
.pop-hdleft{width:100%; height:auto; float:left; margin:0px; padding:0px 5px 0 0px;}
.pop-hdleft h1{display:block; font:22px "Myriad Pro"; color:#BF000F; padding:0px; margin:0px;}
.pop-hdleft h1 img{margin:3px 0 0 20px; vertical-align:top;}

.pop-hdmd{width:50%; height:auto; float:left; margin:0 0 0 15px; border-right:1px dashed #333;}

.pop-hdright{width:17%; height:auto; float:right; margin:0px; padding:0px;}
.hroom{width:100%; height:auto; float:left; margin:0px; padding:0px 0 0 30px; font:16px "Myriad Pro"; color:#333; background:url(../images/hotel-bedicon.png) no-repeat 0 3px;}
.popmap{width:100%; height:28px; float:left; margin:8px 0 0px; padding:0px 0 0 20px; background:url(../images/showmap-img.png) no-repeat 0 0px;}
.popmap a{font:16px "Myriad Pro"; color:#333; text-decoration:none; padding:3px 0 0px; display:block;}

.hpopleft{width:100%; height:auto; float:left; margin:0px; padding:0px;}

.hpopleft #tour-gallerybox, #google_map{width:100% !important;}

.hpopright{width:100%; height:auto; float:left; margin:0px; padding:0px 0 0 10px;}
.hpopright label{float:left; padding:0px; margin:8px 0 0px; width:100%; font:14px Calibri; color:#333;}
.hpopright strong{display:inline; font:18px "Myriad Pro"; color:#000; padding:0px;}
.hpopright p, .pop-hdleft p, .pop-hdmd p{font:13px Arial, Helvetica, sans-serif; color:#000; padding:3px 0 5px;}
.hpopinfo{width:97%; height:auto; float:left; padding:0px; margin:0px;}
.hpopinfo span{display:block; font:18px "Myriad Pro"; color:#BF000F; padding:0px;}
.hpopinfo ul{width:100%; height:auto; margin:0px; padding:0px; list-style:none;}
.hpopinfo ul li{border-bottom:#333 dashed 1px; color:#000; font:13px Arial, Helvetica, sans-serif; padding:5px 0px; margin:0px; float:left; width:100%;}
.hpopinfo ul li strong{display:block; font:bold 13px Arial, Helvetica, sans-serif; color:#000; padding:0px;}
.hpopinfo ul li p{display:block; font:13px Arial, Helvetica, sans-serif; color:#000; background-color:transparent; padding:5px 0px 5px 10px; background:url(../images/arrow.png) no-repeat 0px 9px;}

.hpoplink{width:100%; height:auto; float:left; margin:0px; padding:0px;}
.hpoplink a{font:14px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; text-decoration:none; text-transform:uppercase; padding:4px 0px; margin:0px 3px 0px; width:165px; float:left; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; border:none; outline:none;}

.hpopinfo ul li:last-child{border-bottom:none;}

.wrapcomp{width:715px; height:auto; float:left; margin:0px; padding:0px; position:relative;}
.compare-popwrap{width:715px; overflow:hidden; position:absolute; left:176px; top:0; z-index:50; display:none;}
.comppopbx{width:98%; height:auto; padding:5px; border:1px solid #d2d2d2; background-color:#f4f4fe; float:left; margin:10px 0 0px;}
.compare-hotelbx{width:130px; height:53px; float:left; padding:3px; margin:0px 13px 0 2px; position:relative; background-color:#c1e2ec;}
.comphtlimg{width:45px; height:50px; float:left; margin:0 3px 0 0px; border:1px solid #888;}
.compare-hotelbx p{display:block; font:13px/14px Calibri; color:#222; padding:0px;}
.compare-hotelbx .htlbtt{display:block; width:15px; height:15px; position:absolute; bottom:3px; right:3px; background:url(../images/closebutton.png) no-repeat left top;}

.comparebtt{width:90px; height:auto; float:right; margin:0px; padding:0px; position:relative;}
.comparebtt .bttcomp{font:15px Cambria; color:#FFF; text-align:center; text-decoration:none; text-transform:uppercase; padding:4px 8px; margin:15px 0px; width:auto; float:left; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; border:1px solid #900;; outline:none;}
.comparebtt .bttclose{display:block; width:15px; height:15px; position:absolute; top:-13px; right:-8px; background:url(../images/closebutton.png) no-repeat left top;}

.compare-wrap{width:100%; height:auto; float:left; margin:10px 0px; padding:0px; overflow:hidden;}
.compare-wrap table{width:100%; height:auto; margin:0px; padding:0px; border:0px;}
.compare-wrap table th{font:italic 15px Georgia, "Times New Roman", Times, serif; color:#1e7cac; text-align:left; padding:8px; margin:0px; background-color:#e8f1f6; border-bottom:1px solid #ccc; width:16%;}
.compare-wrap table td{font:15px Cambria; color:#333; padding:8px; margin:0px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; width:20%;}
.compare-wrap table tr{background-color:#fafaff; vertical-align:top;}
.compare-wrap table tr:nth-child(2n){background-color:#f4f4fe;}
.compare-wrap .bordtb{border-top:1px solid #ccc;}

.compare-wrap .hdcomp{width:auto;border: medium none; height:auto; background-color:#94c5d4; font:20px Cambria; color:#000;}
.imgmr{width:auto; height:auto; vertical-align:middle;}
.compare-wrap .compmark{text-align:center;}

.compare-wrap .moresz{padding:0px; border-top:none;}
.compare-wrap .cptheme{width:100%; height:auto; float:left; margin:0px; padding:0px;}
.compare-wrap .cptheme th{width:14.6%;}
.compmore{font:italic 17px "Comic Sans MS", cursive; color:#bf000f; text-decoration:none; padding:8px 0px; float:left; width:100%; text-align:center;}

.hcomptext{width:100%; height:auto; float:left; margin:35px 5px 0px; padding:0px;}
.chdtext{width:117px; height:80px; float:left; margin:10px 0px; padding:0px; background:url(../images/compare-icon.png) no-repeat 0px -104px;}
.chdtext span{display:block; font:18px "Myriad Pro"; color:#000; padding:14px 0 0 8px; margin:0px;}
.chdtext strong{display:block; font:bold 28px "Myriad Pro"; color:#bf000f; padding:0px 0 0 8px; margin:-7px 0 0px;}
.hcomptext p{font:14px Cambria; color:#000; float:left; width:89%;}

.compinfo, .complink, .ciconbx{width:100%; height:auto; float:left; margin:0px; padding:0px; text-align:center;}
.closebtt{width:100%; height:auto; float:right; margin:0px; padding:0px; font:italic 14px Georgia, "Times New Roman", Times, serif; color:#777;}
.compimg{width:100%; height:auto; float:left; margin:5px 0 0px; padding:0px; position:relative;}
.compoffer{width:auto; height:auto; position:absolute; top:0px; right:5px;}
.comphd{width:100%; height:auto; float:left; margin:0px; padding:0px;}
.comphd span{display:block; font:20px Cambria; color:#bf000f; padding:0px;}
.comphd p{font:21px "Century Gothic"; color:#000; text-align:center; padding:5px 0px;}

.caddbx{width:100%; height:auto; float:left; margin:0px; padding:0px;}
.caddleft{width:74%; height:auto; float:left; margin:0px; padding:0px;}
.caddleft p{font:15px Cambria; color:#333; padding:0px;}
.caddright{width:40px; height:auto; float:left; margin:0px 0 0 8px; padding:0px;}

.cusefulinfo{width:100%; height:auto; float:left; margin:0px; padding:0px;}
.cusefulinfo ul{width:100%; height:auto; margin:0px; padding:0px; list-style:none;}
.cusefulinfo ul li{width:100%; height:auto; font:15px Cambria; color:#333; margin:0px 0 5px; padding:0 0 0 10px; background:url(../images/arrow.png) no-repeat 0px 6px;}

.hpopright input{width:13px; height:13px; margin:2px 3px 0 0px; float:left; border:1px solid #666;}

/*---hotel main css--*/
.httop-bannerbx{position:relative; overflow:hidden;}
.httop-bannerbx img{width:100%; height:auto; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}
.httop-searchform{position:absolute; top:28%; width:100%; z-index:50;}
.bght{background:url(../images/whitebg.png) repeat left top; padding-top:25px; padding-bottom:25px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px;}

.htshfiedl1{padding-right:0px;}

.htsearchlst{background:#fff url(../images/search-icon.png) no-repeat 6px 5px; padding-left:35px; height:38px;}
.htshfiedl2{padding-left:0px;}

.htsearch-topbtt{font:18px "Century Gothic"; color:#FFF; background-color:#bf000c; padding:8px 15px; height:38px; margin-left:-5px; display:block; text-decoration:none; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}
.htsearch-topbtt:hover{color:#FFF; background-color:#d34205; text-decoration:none;}

.dn{overflow:hidden !important; height:auto !important;}
.ht_asuggest{background-color:#FFF; width:98%; max-height:92px; overflow-y:scroll; float:left; margin:0px; padding:0px;}
ul.search_res_list{margin:0px; padding:0px; list-style-type:none;}
ul.search_res_list li{float:left; margin:0px; width:100%; border-bottom:1px solid #b5b5b5;}
ul.search_res_list li a{text-decoration:none; font:16px Cambria; color:#333; margin:0px; padding:5px; width:100%; float:left; cursor:pointer;}
ul.search_res_list li a strong{display:inline; color:#bf000f; font:16px Cambria;}
ul.search_res_list li a span{display:inline; color:#555; padding:0 0 0 15px; font:13px Calibri;}
ul.search_res_list li a em{text-align:right; float:right; padding:0 10px 0 0px;}
ul.search_res_list li a:hover{background-color:#bf000f; color:#FFF;}
ul.search_res_list li a:hover > strong, ul.search_res_list li a:hover > span{color:#FFF;}

.featured-htwrap{background-color:#fff; padding:10px; margin-top:-50px; margin-bottom:10px; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.hthead-txt{font:34px "Trajan Pro"; color:#222; margin-top:0px; margin-bottom:0px;}

a.allhtdest{display:inline-block; font:italic 18px Georgia, "Times New Roman", Times, serif; color:#222; text-align:center; padding-top:8px;}
a.allhtdest:hover, .hotel-tabcontent ul li a:hover, a.httop-namelk:hover{color:#bf000c;}

.htcity-selbx{float:right; margin-top:10px;}

.hotel-tabwrap{border-bottom:3px solid #bb000f !important; margin-top:15px;}
.hotel-tabwrap > li{float:left; margin-bottom:-1px; padding-left:0px; padding-right:0px;}
.hotel-tabwrap > li:last-child{border-right:none !important;}
.hotel-tabwrap > li > a{margin-right:6px; line-height:1.42857143; height:35px; border:none !important; border-radius:0px; padding:7px 15px !important; text-align:center; background-color:#4c4c4c; color:#fff; font:18px "Century Gothic"; border-top-left-radius:5px; border-top-right-radius:5px; outline:none; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}
.hotel-tabwrap > li > a:hover, .nav > li > a:focus{text-decoration:none; background-color:#bb000f !important; color:#FFF !important;}
.hotel-tabwrap > li > a:hover{border-color:transparent;}
.hotel-tabwrap > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{color:#fff !important; cursor:pointer; background-color:#bb000f !important;}
.hotel-tabwrap > li.active > a{padding:11px 15px; height:40px; margin-top:-5px;}

.hthead-txt1{font:28px "Trajan Pro"; color:#222; margin-top:0px; margin-bottom:5px;}

.httop-dealbx{background-color:#fff; border:1px solid #d8d8d8; padding:10px; margin-bottom:12px;}

.httop-txtbx{margin-top:0px;}
.httop-txtbx p{font:13px "Century Gothic"; color:#666; margin-bottom:5px;}

a.httop-namelk{display:block; font:16px "Century Gothic"; color:#333; padding-bottom:6px;}
a.httop-alllk{font:italic 13px Georgia, "Times New Roman", Times, serif; color:#bf000c; padding-bottom:6px; float:right; padding:5px 0 0px; margin:0px;}

.htpopl-destbx{background-color:#fff; border:1px solid #d8d8d8; padding:10px; margin-bottom:12px; min-height:299px;}
.htpopl-destbx ul{margin-left:0px; margin-bottom:0px;}
.htpopl-destbx ul li{line-height:34px; margin-bottom:5px;}
.htpopl-destbx ul li a{font:14px "Century Gothic"; color:#333; padding:5px 8px; border:1px solid #dbdbdb; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.htpopl-destbx ul li a:hover{color:#FFF; border:1px solid #9f000a; background-color:#bf000c; background-image:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none;}

.htbyinterest{margin-top:15px; margin-bottom:5px;}
.htbyinterest strong{background:url(../images/blackbg.png) repeat; position:absolute; bottom:15px; left:0px; font:18px "Trajan Pro"; color:#fff; text-align:left; padding:4px 6px; z-index:100;}
.htbyinterest a:hover > .htintinner strong{color:#FFF600; text-decoration:none;}

.htintinner{text-align:center; overflow:hidden; position:relative;}
.htintinner .htcolorbx{width:100%; height:100%;  position:absolute; overflow:hidden; top:0; left:0;}
.htintinner span{text-align:center; display:inline-block;}

.intview img{-webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
.intview .htcolorbx{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; background:url(../images/blackbg.png) repeat; -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; -ms-transition:all 0.4s ease-in-out; transition:all 0.4s ease-in-out;}
.intview span{-webkit-transform:translateY(100px); -moz-transform:translateY(100px); -o-transform:translateY(100px); -ms-transform:translateY(100px); transform:translateY(100px); -ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; -webkit-transition:all 0.2s linear; -moz-transition:all 0.2s linear; -o-transition:all 0.2s linear; -ms-transition:all 0.2s linear; transition:all 0.2s linear;}
.intview:hover .htcolorbx{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); opacity:1;}
.intview:hover span{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); opacity:1; -webkit-transform:translateY(0px); -moz-transform: translateY(0px); -o-transform:translateY(0px); -ms-transform:translateY(0px); transform:translateY(0px);}

.htthemeicon{background-image:url(../images/hotel-theme-icon.png); background-repeat:no-repeat; margin:0px;}

.htbrandbx{margin-top:15px; margin-bottom:5px;}
.htbrandbx a{background-color:#dbdada; display:block; text-align:center; padding:8px;}
.htbrandbx a:hover{background-color:#ffd800; border:none; outline:none;}
.htbrandbx img{margin:0 auto;}

.hotel-tabcontent{margin-top:10px;}
.hotel-tabcontent .hotel-tab{display:inline-block; font:24px "Trajan Pro"; color:#222; padding-bottom:2px; margin-top:0px; margin-bottom:0px; border-bottom:1px dotted #989898;}
.hotel-tabcontent ul{margin-top:10px; margin-left:15px; padding:0px;}
.hotel-tabcontent ul li{list-style:circle; float:left; width:24%; margin:0 5px;}
.hotel-tabcontent ul li a{display:block; font:16px "Century Gothic"; color:#333;}
a.httabview{display:block; font:italic 16px Georgia, "Times New Roman", Times, serif; color:#bf000c; text-align:right; border-top:1px solid #d8d8d8; padding-top:7px; margin-top:11px;}

.tlisting{letter-spacing:0.02em;}
.tlisting h1{font:24px "Trajan Pro"; color:#bf000c; margin-top:0px;}
.tlisting h2{font:20px "Trajan Pro"; color:#bf000c; margin-top:0px;}
.tlisting p{font:16px/26px "Century Gothic"; color:#333; text-align:justify; letter-spacing:0.02em;}

article p{font:16px "Century Gothic"; color:#333; letter-spacing:1.5px; line-height:26px; text-align:center; text-align:justify;}
article a{color:#1a0dab; text-decoration:none; font-weight:bold;}
article a:visited{color:#660099;}

article ul{margin:0px; padding:0px;}
article ul li{margin:2px 0 12px 17px; list-style:circle; font:16px "Century Gothic"; color:#333;}
article ul li a{font:16px "Century Gothic"; color:#bf000c;}
article ul li a:hover{text-decoration:underline;}

.hotelltp-searhbx{background-color:#f0f0ef; padding:5px 10px; margin-top:7px; margin-bottom:25px;}
.hotelltp-searhtxt{font:24px "Trajan Pro"; color:#222; margin-top:17px;}
.hotelltp-searhfrm{margin-top:13px;}

.htlfiltbx{padding-right:5px;}

.hotelfilter-wrapper{border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); padding:10px;}

.htltxtrf{font:small-caps 28px "Century Gothic"; color:#111; padding:0 0 12px; margin-bottom:5px; background:url(../images/menubg.jpg) repeat-x left bottom; letter-spacing:0.02em;}
.htltxtrf a{display:inline-block; font:normal 12.5px "Century Gothic"; text-align:right; float:right; padding-top:13px;}

.tourpack-filterbx{background-color:#fff; border:1px solid #c2c2c2; margin-top:15px; /*width:263px;*/}
.tourpack-filterbx select{margin:10px 8px; width:93%;}
.tourpack-filterbx ul{margin:8px; padding:0px;}
.tourpack-filterbx ul li{border-bottom:#EFEFEF solid 1px; color:#333; font:14px "Century Gothic"; list-style-image:none; list-style-position:outside; list-style-type:none; padding:5px; margin:0px;}
.tourpack-filterbx ul li:last-child{border-bottom:none;}
.tourpack-filterbx ul li input{float:right;}
.tourpack-filterbx ul li img{vertical-align:bottom;}
.tourpack-filterbx ul li span{float:right; margin-right:5px;}

.tfilter-heading{font:16px "Century Gothic"; color:#333; padding:8px; margin-bottom:8px; border-bottom:1px solid #c2c2c2; position:relative;}
.tfilter-heading:after, .tfilter-heading:before {top:100%; left:17%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
.tfilter-heading:after {border-color:rgba(136, 183, 213, 0); border-top-color:#f1f1f1; border-width:8px; margin-left:-30px;}
.tfilter-heading:before {border-color:rgba(194, 225, 245, 0); border-top-color:#c2c2c2; border-width:10px; margin-left:-32px;}

.white-gray{background-color:#ffffff; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1)); background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1); background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1); background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1); background-image: -o-linear-gradient(top, #ffffff, #f1f1f1); background-image: linear-gradient(top, #ffffff, #f1f1f1); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f1f1f1)}

.hotelpack-listwrap{padding:5px; border:1px solid #e0e0e0; margin-bottom:15px; overflow:hidden;}

.htlistimg{padding-right:0px;}
.htlistimg img{position:relative; max-width:inherit; width:205px; height:150px;}

.htlist-txtbx{padding-left:30px; letter-spacing:0.02em; -moz-box-shadow:5px 0 5px -5px rgba(185,185,185,0.5); -webkit-box-shadow:5px 0 5px -5px rgba(185,185,185,0.5); box-shadow:5px 0 5px -5px rgba(185,185,185,0.5);}
a.htlink-list{font:22px "Trajan Pro"; color:#bf000c; display:block;}
.htlist-txtbx p{font:14px/20px "Century Gothic"; color:#333; margin-top:4px; margin-bottom:7px;}
.htlist-txtbx ul{margin-top:7px;}

.htdistance-infobx{font:italic 16px Georgia, "Times New Roman", Times, serif; color:#333;}
.htdistance-infobx strong{font:bold 16px Georgia, "Times New Roman", Times, serif;}

.hdistplane{width:29px; height:21px; background:url(../images/plane-icon.png) no-repeat left top; display:inline-block; vertical-align:middle;}
.hdisttrain{width:15px; height:24px; background:url(../images/trainicon.png) no-repeat left top; display:inline-block; vertical-align:middle;}

.htrht-bttbx{padding-right:0px; letter-spacing:0.02em;}

a.htquick-view{display:block; font:italic 16px Georgia, "Times New Roman", Times, serif; color:#333; padding-top:10px;}

a.hotel-detbtt{font:16px "Century Gothic"; color:#fff; text-transform:uppercase; text-align:center; padding:7px 10px; margin:15px auto 0px; display:block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
a.hotel-detbtt:hover{color:#FFF; background-color:#bf000c;}

.hbgbtt1{background-color:#d75d13;}
.hbgbtt2{background-color:#11476d;}

.tourpack-pagtbox{border:1px solid #e0e0e0; padding:10px 15px; margin-bottom:15px; background-color:#ffffff; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1)); background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1); background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1); background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1); background-image: -o-linear-gradient(top, #ffffff, #f1f1f1); background-image: linear-gradient(top, #ffffff, #f1f1f1); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f1f1f1)}

.pagtextbx{margin-top:12px; font:15px "Century Gothic"; color:#333;}

.htsearch-lstbtt{font:18px "Century Gothic"; color:#FFF; background-color:#bf000c; padding:7px 15px; margin:0 auto; display:block; text-decoration:none; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}
.htsearch-lstbtt:hover{color:#FFF; background-color:#d34205; text-decoration:none;}

.pagtwrap{margin-top:5px !important; margin-bottom:0px !important;}
.pagtwrap ul{margin:0px;}

.hpgflt{float:right;}

.hotel-offertag{width:67px; height:66px; background:url(../images/offertag.png) no-repeat left top; display:inline-block; position:absolute; left:12px; top:-2px;}

.hotel-heading{letter-spacing:0.02em;}
.hotel-heading p{font:16px/22px "Century Gothic"; color:#333;}

.hotel-hdtxt{display:block; font:30px "Trajan Pro"; color:#bf000c; margin-top:0px; margin-bottom:0px;}

.hotel-specialpr{letter-spacing:0.02em;}
.hotel-specialpr span{display:block; font:16px "Century Gothic"; color:#555; padding:0px; margin:0px 0 -3px;}
.hotel-specialpr strong{display:block; font:30px "Century Gothic"; color:#cb3904; padding:0px; margin:0px;}

.hotel-viewdeal{padding:0px;}
.hotel-viewdeal a{font:18px Rockwell; color:#fff; text-transform:uppercase; background-color:#2889dc; padding:15px 13px; margin:3px auto; display:inline-block;}
.hotel-viewdeal a:hover{color:#FFF; background-color:#bf000c;}

.hotel-qkinfobx{background-color:#11476d; margin-top:7px; margin-bottom:12px; padding:6px 10px; letter-spacing:0.02em;}
.hotel-qkinfotxt{font:16px/22px "Century Gothic"; color:#fff; padding-top:5px; padding-bottom:5px;}

.hloaction{width:10px; height:14px; background:url(../images/hotel-info-icon.png) no-repeat 0 0; display:inline-block;}
.qkrht{text-align:right;}

.hcheck{width:14px; height:14px; background:url(../images/hotel-info-icon.png) no-repeat -42px 0px; display:inline-block;}
.hrooms{width:18px; height:11px; background:url(../images/hotel-info-icon.png) no-repeat -17px 0px; display:inline-block;}

.hotel-inqbx{border-left:1px dashed #fff; letter-spacing:0.02em;}

.hotel-inquirybtt{font:20px Rockwell; color:#fff; text-transform:uppercase; background-color:#cb3904; padding:7px 15px; margin:15px auto; display:inline-block; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.hotel-inquirybtt:hover{color:#FFF !important; background-color:#bf000c;}
.hotel-inquirybtt:focus{outline:none !important; color:#FFF !important;}

#hotel-silder-new .thumbnail{padding:0; margin-bottom:10px; cursor: pointer;}
#hotel-silder-new .carousel-inner>.item>img, #hotel-silder-new .carousel-inner>.item>a>img{width:100%;}
#hotel-silder-new .carousel-control{height:100%; top:0%;}
#hotel-silder-new .carousel-inner > .item > img, #hotel-silder-new .carousel-inner > .item > a > img{width:555px; height:350px;}
#hotel-silder-new .thumbnail > img, #hotel-silder-new .thumbnail a > img{width:130px; height:75px;}

.bigsldr{padding-left:0px; padding-right:0px;}

.sldr-scllbr{overflow-y:auto; height:350px;}

.hide-bullets{list-style:none; margin-left:-50px; margin-top:0px;}
.hide-bullets li{padding-left:5px; padding-right:5px;}

.hotel-socialbx{margin:0 auto 15px; float:right;}

.hotel-stybx{margin-top:0px; margin-bottom:10px;}
.hotel-listdet{background-color:#222; padding:10px 8px;}
.hotel-listdet ul{margin:8px auto; padding:0; text-align:center;}
.hotel-listdet ul li{padding:0 10px; list-style:none; display:inline-block;}
.hotel-listdet ul li a{padding:8px 13px; font:17px "Trajan Pro"; color:#111; text-decoration:none; text-transform:uppercase; background-color:#f3f4f4; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.hotel-listdet ul li a:hover{color:#FFF; background-color:#bf000c;}
.hotel-listdet ul li.active > a{color:#FFF; background-color:#bf000c;}
.hotel-listdet ul li a.hotelpkghg{background-color:#FF0; color:#111;}
.hotel-listdet ul li a.htlbook{background-color:#50bc55; color:#fff;}

.hotel-txthead{display:block; font:28px "Trajan Pro"; color:#bf000c; border-bottom:1px solid #CCC; margin-top:15px; margin-bottom:15px; padding-bottom:4px;}
.hotel-txthead strong{border-bottom:3px solid #bf000c; font-weight:normal; padding-bottom:3px;}

.hotel-txtbx{letter-spacing:0.02em; margin-top:10px;}
.hotel-txtbx span{display:block; font:bold 20px "Century Gothic"; color:#333; padding-bottom:8px;}
.hotel-txtbx p{font:16px/26px "Century Gothic"; color:#333; text-align:justify; margin-bottom:15px;}
.hotel-txtbx ul, .hotel-usefull-info ul, .hotel-usefull-otherbx ul{margin:0px 0 0 15px; padding:0px;}
.hotel-txtbx ul li{list-style:circle; font:16px "Century Gothic"; color:#333; padding-bottom:7px;}

.hotel-txtbx table{width:100%; margin-bottom:15px;}
.hotel-txtbx table caption{background-color:#333; font:22px "Century Gothic"; color:#fff; text-align:center; padding-top:7px; padding-bottom:7px;}
.hotel-txtbx tr{background-color:#fff;}
.hotel-txtbx tr:nth-child(2n){background-color:#f1f1f2;}
.hotel-txtbx th{background-color:#e6e6e6; font:bold 18px "Century Gothic"; color:#333; text-align:center; padding-top:7px; padding-bottom:7px;}
.hotel-txtbx td{text-align:center; padding-top:7px; padding-bottom:7px; font:16px "Century Gothic";}

.htfeaturesbx{margin-top:7px; margin-bottom:7px; padding-bottom:15px; border-bottom:1px dashed #CCC;}
.htfeature-leftbx{font:20px "Century Gothic"; color:#2492ca; text-transform:uppercase; letter-spacing:0.02em;}

.htfeature-righttbx{letter-spacing:0.02em;}
.htfeature-righttbx ul{margin:4px 0 0px; padding:0px;}
.htfeature-righttbx ul li{list-style:none; background:url(../images/bluearrow.png) no-repeat left 2px; padding-left:22px; padding-right:20px; margin-bottom:10px; font:16px "Century Gothic"; color:#333;}

.hotel-roomtype{margin:0px;}
.hotel-roomtype ul{margin:0px; padding:0px;}
.hotel-roomtype ul li{list-style:none; margin:0px; padding:25px 0px; border-bottom:1px dashed #CCC;}
.hotel-roomtype ul li:last-child{border-bottom:none;}

.roomtype-txtbx{letter-spacing:0.02em; padding-left:0px;}
.roomtype-txtbx span{display:block; font:24px "Trajan Pro"; color:#222; padding-bottom:4px; margin:0px;}
.roomtype-txtbx p{font:15px/24px "Century Gothic"; color:#333; text-align:justify;}

.htroom-morebx{margin-top:25px; text-align:center; letter-spacing:0.02em;}

.htroom-more{display:inline-block; text-align:center; padding:10px; margin:0 auto; clear:both; font:20px "Trajan Pro"; color:#fff; background-color:#cb3904; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.htroom-more:hover, .htroom-more:focus{color:#FFF;}

.hotel-usefull-info{background-color:#f0f0ef; padding:8px 15px; letter-spacing:0.02em;}
.hotel-usefull-info .subheading{display:block; font:18px "Century Gothic"; color:#111; margin-bottom:5px; margin-top:5px;}
.hotel-usefull-info ul li{list-style:circle; font:15px "Century Gothic"; color:#666; padding-bottom:5px;}

.ntfld{background-color:#e0dede; padding-top:10px; margin-bottom:15px;}
.ntfld label{padding-bottom:5px;}

.theme-moretxt{display:block; width:100%; padding-bottom:10px; padding-right:10px; color:#e95200; text-align:right;}

.tabstatewrap{background-color:#f4f4f4; padding-bottom:12px; margin-top:10px; margin-bottom:10px;}

.hstate-tabbx{background-color:#4b4b45; float:left; width:100%; border-bottom:5px solid #bf000f;}
.hstate-tabbx a{color:#fff; padding:7px 15.9px; margin:0px; text-decoration:none; font:18px "Century Gothic"; float:left; text-align:center; background:#4b4b45; outline:none;}
.hstate-tabbx a.activeLink{color:#fff; background-color:#bf000f; padding:7px 16px; outline:none;}

.hstate-tabcontent{margin:10px 0px;}
.htabst{letter-spacing:0.02em;}
.htabst ul{margin:0px;}
.htabst ul li{margin:3px 0px 5px; list-style:circle; width:33%; float:left;}
.htabst ul li a{font:16px "Century Gothic"; color:#222; text-decoration:none;}
.htabst ul li a:hover{text-decoration:underline; color:#bf000f;}

.autocomplete-suggestions {border:1px solid #999; background:#FFF; cursor:default; overflow:auto; -webkit-box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow:1px 4px 3px rgba(50, 50, 50, 0.64);}
.autocomplete-suggestions{border:1px solid #999; background:#FFF; overflow:auto;}
.autocomplete-suggestions strong{font-weight:normal; color:#3399FF;}
.autocomplete-suggestions strong {font-weight:bold; color:#000;}
.autocomplete-suggestion{padding:2px 5px; white-space:nowrap; overflow:hidden;}
.autocomplete-suggestion{padding:2px 5px; white-space:nowrap; overflow:hidden;}
.autocomplete-selected{background:#F0F0F0;}
.autocomplete-group{padding:2px 5px;}
.autocomplete-group strong{display:block; border-bottom:1px solid #000;}

@media only screen and (max-width: 620px){
.tlisting p, .hotel-txtbx p, .pkgtour-textwrap p, article p{text-align:left;}
.hotel-txtbx p, .pkgtour-textwrap p, article p{text-align:left;}
}

@media only screen and (max-width: 685px){
.httop-bannerbx, .httop-searchform{display:none;}
.featured-htwrap{margin-top:20px;}
.hotel-tabcontent ul li, .mapwth{width:100%;}
}

@media (max-width: 991px) {
.httop-searchform{top:17%;}
.bght{padding-top:20px; padding-bottom:20px;}
.hthead-txt, .hotel-hdtxt, .interl-head1, .h1-txt, .headingh1, .heading-hsab1, .wdheading-h2, .h1-heading, .tour-mheading{font-size:1.6em !important;}
.hotel-tabcontent .hotel-tab, a.htlink-list, .htltxtrf, .pkgform-headbx, .search-inner-tourdest label{font-size:1.4em;}
.tlisting h1, .hotelltp-searhtxt, .hotel-txthead, .interl-head2, .h2-txt, .heading-hsab, .trdurhead, .small-hd1, .zmidtext .white-linet, .wmg, .h2-heading, .travel-guide-heading2, .small-heading3{font-size:1.5em;}
a.allhtdest, .lead{font-size:16px;}
.htpopl-destbx{min-height:inherit;}
.htbanners img{margin:15px auto 0px;}
.htltxtrf a{float:none; padding-top:0px;}
.tfilter-heading:after, .tfilter-heading:before{left:25%;}
.hotel-qkinfobx{margin-top:15px; margin-bottom:20px;}
.sldr-scllbr{height:202px;}
.hotel-socialbx{margin:20px auto 15px;}
.hotel-listdet{padding:1px 8px;}
.hotel-listdet ul li{margin:15px 0px;}
.hstate-tabbx{margin-bottom:10px;}
.hstate-tabbx a{padding:7px 8px;}
.hstate-tabbx a.activeLink{padding:7px 7.5px;}
.htabst ul li{width:50%;}
}

@media only screen and (max-width: 470px){
.htlistimg{width:100% !important; padding-right:15px;}
.htlistimg img{margin:5px auto 10px !important;}
.htlist-txtbx{width:100% !important; padding-left:15px; text-align:center;}
.htlist-txtbx p{margin-top:8px; margin-bottom:12px;}
.htlist-txtbx ul{margin-top:12px;}
.hotel-offertag{left:7px; top:-7px;}
}

@media only screen and (max-width: 400px){
.hotel-specialpr{width:100%; text-align:center;}
.hotel-viewdeal{padding:0 15px; width:100%; margin:10px auto 5px; text-align:center;}	
}

@media (max-width: 1199px) {
.ht_asuggest{width:101%;}	
.htcity-selbx{margin-top:0px;}
.htlistimg img{display:block; width:100% \9; max-width:100%; height:auto;}
.htlist-txtbx{padding-left:15px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
.httop-searchform{top:22%;}
.htltxtrf{font-size:22px;}
.htltxtrf a{padding-top:7px;}
.tourpack-filterbx ul li{padding:5px 0px;}
.tourpack-filterbx ul li span{margin-right:2px;}
.htrht-bttbx{padding-left:5px; padding-right:5px;}
a.hotel-detbtt{font-size:15px;}
.hotel-viewdeal a{font-size:17px; padding:15px 8px;}
#hotel-silder-new .carousel-inner > .item > img, #hotel-silder-new .carousel-inner > .item > a > img{width:455px; height:268px;}
#hotel-silder-new .thumbnail > img, #hotel-silder-new .thumbnail a > img{width:105px; height:60px;}
.sldr-scllbr{height:267px;}
.hstate-tabbx a{padding:7px 12.07px;}
}

@media only screen and (max-width: 750px){
.htcity-selbx{float:none; margin-top:15px; margin-bottom:5px;}	
.hotel-tabwrap{margin-top:23px;}
}

@media (max-width: 767px) {
.htlfiltbx{display:none;}
.htlist-txtbx{box-shadow:none;}	
.htrht-bttbx{margin-bottom:5px; padding-right:15px;}
a.htquick-view{padding-bottom:8px;}
.hdbtt{float:left; width:50%;}
.qkrht{text-align:left;}
#hotel-silder-new .carousel-inner > .item > img, #hotel-silder-new .carousel-inner > .item > a > img{width:100%; height:auto;}
#hotel-silder-new .thumbnail > img, #hotel-silder-new .thumbnail a > img{width:auto; height:100%;}
.sldr-scllbr{height:inherit; display:none;}
.hide-bullets{margin-left:-45px;}
.hotel-socialbx{float:none;}
.hotel-stybx{display:none;}
.htfeature-leftbx{text-align:center; margin-bottom:15px;}
.htfeature-righttbx{text-align:center;}
.htfeature-righttbx ul li{display:inline-block;}
.hotel-roomtype img{margin:0 auto 15px;}
.roomtype-txtbx{padding-left:15px; text-align:center;}
.hotel-usefull-info{min-height:inherit; margin-bottom:20px;}
.hstate-tabbx a{padding:7px 22.07px;}
.hstate-tabbx a.activeLink{padding:7px 22px;}
}

@media (max-width: 565px) {
.hotel-tabwrap > li > a{font-size:15px !important; padding:7px 6px !important; margin-right:2px !important;}
.hotel-tabwrap > li.active > a{padding:11px 6px;}	
}

@media (max-width: 590px) {
.htbyinterest{width:100% !important; text-align:center;}
.htbyinterest a{display:inline-block !important;}
.htintinner{margin:0 auto;}
.htabst ul li{width:100%;}
}

@media only screen and (max-width: 320px){
.htbyinterest a{display:block;}	
}

@media (min-width: 305px) and (max-width: 767px) {
.htintinner{width:-webkit-max-content; width:-moz-max-content; width:max-content;}
}

@media only screen and (max-width: 360px){
.hdbtt{width:100%;}	
}

@media (min-width: 768px) and (max-width: 991px) {
.tourpack-filterbx ul li span{float:none; display:block;}	
}
