@font-face{font-family:'Oswald';src: url('../Oswald.ttf')}
@font-face{font-family:'Myriad Pro';src: url('../MyriadWebPro.ttf')}
@font-face{font-family:"Century Gothic";src: url('../GOTHIC.ttf')}
@font-face{font-family:'Trajan Pro';src: url('../TrajanPro-Regular.otf')}
@font-face{font-family:'Rockwell';src: url('../fonts/ROCK_0.TTF')}
@font-face{font-family:'Corbel';src: url('../fonts/CORBEL_1.TTF')}
@font-face{font-family:"HelveticaNeueLT Std Thin"; src: url('../fontscore.com_h_helvetica-neue-lt-std-35-thin.otf'); /* IE9 */}
@font-face {font-family:'Trajan Pro'; src: url('../fonts/trajan_pro.eot'); src: url('../fonts/trajan_pro.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro.svg#Trajan Pro') format('svg'), url('../fonts/trajan_pro.woff') format('woff'), url('../fonts/trajan_pro.ttf') format('truetype'); font-weight:normal;  font-style:normal;}
@font-face {font-family:"Century Gothic"; src: url('../fonts/gothic.eot'); src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/gothic.svg#Century Gothic') format('svg'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype'); font-weight:normal; font-style:normal;}

.top-button a, .searchwrap .bttclick, .detailbtt-tourpack a, .enqubtt-tourpack a, .cities-linkbx ul li a, .box a.read-more, .bottombtt a, a.shviewbtta, .toursubmitbtt, a.tripview, .tourdest-linkbx ul li a, .topwildbtt a, .topwildpkg-wrap span, .tg1, .tg2, .tg3, .tg4, .tg5, .tg6, .tg7, .tg8, .tg9, .tg10, .travelatt-linkbx ul li a, .travelgd-infowrap span, .pkgdest-linkbx ul li a, .pkgform-box .submitbtt, .error-search .submitbtt, .sploff-viewbtt a, .enquiry-form-wrapper .submitbtt, .sploff-viewbtt a, .htsearch-lstbtt, .lng-viewpkg, .longweek-btt, .grtfest-link a, .wknd-vmbtt, .wknd-sebtt, .wdfrom-linkbx ul li a, .pkglink-dest ul li a, .destpkg-infobx span::before, .updates-read-more, .group-trs-btton .viewbtt-all, .theme-destination a.read-more, .plamonth ul li a, .tour-inqbtt, .more-buton, .theme-destination-box a.read-more{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

article p{font:16px "Century Gothic"; color:#333; letter-spacing:1.5px; line-height:26px; text-align:center; text-align:justify;}
article a{color:#1a0dab; text-decoration:none; font-weight:bold;}
article a:visited{color:#660099;}

article ul{margin:0px; padding:0px;}
article ul li{margin:2px 0 12px 17px; list-style:circle; font:16px "Century Gothic"; color:#333;}
article ul li a{font:16px "Century Gothic"; color:#bf000c;}
article ul li a:hover{text-decoration:underline;}

.vbest-textbx{margin-top:5px; margin-bottom:15px; padding:0 15px 7px;}
.vbest-textbx h3{font:28px "Trajan Pro"; color:#fff; display:block; margin-top:0px; margin-bottom:4px; padding:8px 0 0px;}
.vbest-textbx p{font:16px/22px "Century Gothic"; color:#fff; text-align:justify; padding-bottom:3px;}

.vbg1{background-color:#ee7125;}
.vbg2{background-color:#7B7E88;}
.vbg3{background-color:#558599;}

.bgcolor{background:#f0f0ef;}

.monthtur-head{letter-spacing:0.02em;}
.monthtur-head h1{color:#222; font:28px "Century Gothic"; border-bottom:1px solid #ccc; margin-bottom:15px; display:inline-block; text-transform:uppercase; margin-top:5px;}
.monthtur-head p{font:16px/26px "Century Gothic"; color:#333;}

.place-visitbx{margin-bottom:7px; margin-top:8px; padding:0 8px;}
.place-visitbx span{font:bold 20px "Trajan Pro"; color:#fff; letter-spacing:0.02em; padding:4px 6px; background-color:#0d0d0d; display:block; text-align:center; position:relative;}
.place-visitbx a:hover > span{text-decoration:none; color:#FFF600;}

a.tourinqbtt{font:20px "Century Gothic"; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; padding:8px 20px; margin:0 auto; background-color:#bf000c; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
a.tourinqbtt:hover{color:#FFF; background-color:#d34205;}

.place-visitbx ul{margin:0px auto; padding:0px;}
.place-visitbx ul li{list-style:none; display:inline-block; width:15%; margin:5px 8px 10px; position:relative;}
.place-visitbx ul li span{font:bold 20px "Trajan Pro"; color:#fff; letter-spacing:0.02em; padding:4px 6px; background-color:#0d0d0d; display:block; text-align:center; position:relative;}
.place-visitbx ul li a:hover > span{text-decoration:none; color:#FFF600;}
.up-arrowbg1{width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #0d0d0d; position:absolute; left:50%; bottom:34px; margin-left:-8px; margin-bottom:-1px;}

a.tripview{font:18px "Century Gothic"; color:#fff; text-decoration:none; text-align:center; text-transform:uppercase; padding:6px 15px; margin-top:10px; background-color:#bb000f; display:inline-block; clear:both;}
a.tripview:hover{color:#fff; background-color:#d34205;}

.up-arrowbg{width:0; height:0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #0d0d0d; position:absolute; left:50%; bottom:34px; margin-left:-8px; margin-bottom:-1px;}

.readsab-outter{background:#fff; margin-top:15px; margin-bottom:5px; border:1px solid #ccc; height:282px; letter-spacing:0.02em;}
#readsab-bx1{display:block;}

.readsab-head{padding:5px 10px; text-align:center; height:95px;}
.readsab-head a{font:20px/20px Rockwell; color:#e95200; text-transform:uppercase; margin-top:5px; margin-bottom:7px; display:inline-block;}
.readsab-head p{font:16px/20px Corbel; text-decoration:#333;}

.top-brdrd{border-top:1px solid #ccc;}
.readclr1{text-align:center; cursor:pointer; padding-left:0px; padding-right:0px;}

#readsab-bx2{display:none;}

.frame-readsab{font:italic 16px/20px Corbel; text-align:justify; padding:12px 12px 5px; margin-bottom:10px; height:230px; overflow-y:auto}
.frame-readsab strong{font-size:20px;}

.postiread{text-align:center;}
.previous{border:none; font:16px Corbel; color:#fff; padding:0px; margin:0px; background-color:#333; padding:5px; float:left; width:100%;}

.readsab-2{font:15px Corbel; color:#fff; padding:0px; margin:0px; background-color:#ee7125; padding:5px; display:block;}
.proceed{border:none; font:16px Corbel; color:#fff; padding:0px; margin:0px; background-color:#333; padding-top:7px; padding-bottom:7px; float:left; width:100%;}

.readsab-1{color:#e56416; display:block; font:16px Corbel; padding-top:7px; padding-bottom:7px; border-left:1px solid #ccc;}
.readsab-1:hover{color:#2f4408;}

.plamonth{margin-top:10px; margin-bottom:0px; text-align:center;}
.plamonth ul{margin:0px; padding:0px;}
.plamonth ul li{padding:10px;}
.plamonth ul li a{display:inline-block; width:70px; height:70px; font:bold 24px "Trajan Pro"; color:#fff; padding:17px 15px; background-color:#333; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;}
.plamonth ul li a span{display:inline; font-size:16px; color:#fff;}
.plamonth ul li a:hover{background-color:#d34205;}

.tour-inqbtt{font:20px "Century Gothic"; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; display:inline-block; padding:8px 20px; margin:15px 5%; background-color:#bf000c; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer;}
.tour-inqbtt:hover, .more-buton:hover{color:#fff; background-color:#d34205;}

.more-buton{font:18px "Century Gothic"; color:#fff; text-decoration:none; text-align:center; width:150px; padding:7px 15px; margin:10px auto; background-color:#d34205; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer;}

.box-pkg{position:relative; height:275px; margin-bottom:25px; padding:0 10px; color:#bdc3c7; text-align:center; border:solid 1px #d7d7d7; letter-spacing:1.2px; display:block; }
.box-pkg img{margin:15px auto 5px;}
.box-pkg .nodays{font:20px "Century Gothic"; color:#333; background-color:#f0f0ef; text-align:center; padding:3px 10px 5px; position:absolute; top:15px; right:22px;}
.box-pkg a.hdg-title{font:18px 'Rockwell'; margin-bottom:8px; color:#e95200; padding-top:5px;}
.box-pkg .description{font-size:16px; color:#4f4f4f; line-height:28px; padding-bottom:10px;}
.box-pkg a.read-more{font:14px "Century Gothic"; text-transform:uppercase; text-decoration:none; color:#fff; background-color:#36b670; padding:5px 10px; position:absolute; bottom:10px; left:15px; right:15px;}

.themetophd{margin:0 auto 15px; text-transform:uppercase; background:url(../images/line-image.png) repeat-x center;}
.themetophd .whiteline{font:23.5px "Century Gothic"; color:#333; text-align:center; padding:0 30px; width:auto; display:inline-block; background-color:#FFF; letter-spacing:0.02em;}
.themetophd .grayline{font:23.5px "Century Gothic"; color:#333; text-align:center; padding:0 30px; width:auto; display:inline-block; background-color:#f0f0ef; letter-spacing:0.02em;}

.vbest-heading{font:32px "Trajan Pro"; color:#222; display:inline-block; margin-bottom:10px; border-bottom:1px solid #222;}

@media only screen and (max-width: 320px){
.place-visitbx{width:100%; padding:0 15px;}
}

@media only screen and (max-width: 470px){
.place-visitbx{width:50% !important;}
}
