@media (min-width: 1300px) and (max-width: 2000px) {
.top-destbx img{width:100% !important;}
}

@media (min-width: 992px) and (max-width: 1199px) {
ul.footerlinks li a{line-height:32px;}
.newsletter{margin-left:0%;}

.footer-newlinks strong{font-size:16px;}

.newsletter label{font-size:18px; padding-left:0px;}
.social-text{font-size:18px; padding:8px 0 0px;}

.plamonth ul li{padding-left:2px; padding-right:2px;}

.video-outterbx{width:43.22%;}
.tripmg{width:56.667%; margin-top:25px;}

.new-menu{margin-left:5px;}
.new-menu ul li a{padding:6px 1px 5px;}
ul.dropdown-columns2{left:-342%;}

.theme-tourtop ul li.highlt{padding-bottom:32px;}

/*.call-nav{width:62%;}*/

.call-optbx .arrow{right:3px;}
ul.call-scolm li{padding:2px;}
}

@media (min-width: 992px) and (max-width: 1010px) {
.new-menu ul li a{padding:6px 0px 5px;}
}

@media (min-width: 991px) and (max-width: 1199px) {
.travel-insptbx span{width:115px; height:115px; margin:-123px auto 0;}
.travel-insptbx a:hover > span{width:130px; height:130px; margin:-130px auto 0;}
.travel-insptbx strong{width:81%; top:26%;}

.hotel-detbx ul li{padding:10px 0px;}
.hotel-detbx ul li strong{font-size:21px;}
.hotel-detbx ul li span{font-size:17px;}

.tailor-icon ul li{padding:7px; height:160px;}
}

@media (max-width: 991px) {
.call-wrap, .dnon, #popUpArea{display:none !important;}

.hdshadow{padding-bottom:1px;}

.heading-h1, .heading-h2{font-size:1.6em !important;}
.heading-h2 span{font-size:1.4em;}
.top-search-wrapper{margin-bottom:20px;}

.top-search-wrapper .search-dest{width:auto; background:#fff url(../images/search-icon.png) no-repeat 96% 10px; font:17px Corbel; padding-right:35px; padding-left:10px;}

ul.footerlinks li a{line-height:32px;}
.newsletter{margin-left:0%; margin-bottom:55px;}

.bottomtext{text-align:center;}

.footer-bg4{margin-top:30px;}
.footer-newlinks{margin-top:20px; margin-bottom:0px; height:240px;}

.newsletter{padding-bottom:55px; margin-bottom:15px; border-bottom:1px dotted #CCC;}

.htbrd{border-right:none;}

.video-outterbx{width:auto; display:inline-block; text-align:center;}
.topd-line{text-align:center;}
.tripmg{width:auto; margin-top:25px;}

.plamonth ul li{padding:10px;}

.tourbx-theme img{display:block; margin:0 auto;}

.bg-header{min-height:inherit; padding-bottom:25px;}

.global-sitesbx{margin-top:-4px;}
#countries_dd_msdd{width:100% !important;}

.social-media ul{text-align:inherit;}

/*.call-wrap p{float:left;}
.call-wrap p + p{padding-left:4px; margin-left:4px; border-left:1px dotted #ccc;}*/

/*body{padding-top:102px;}*/

.sticky-menu{background-color:#fff; box-shadow:0 5px 5px -5px #333; width:100%; margin-bottom:20px; position:fixed; top:0px; left:0px; z-index:1030; overflow-y:auto; max-height:390px !important;}
.stymenu{display:block; border-top:1px solid #ccc; margin-top:5px;}

.callwp{margin-top:13px;}
.callwp p{margin-bottom:0px; float:left; width:50%;}
.callwp p a{font:1.1em "Century Gothic"; color:#333;}

.stybtt-view{font:16px Corbel; color:#fff; text-decoration:none; text-align:center; text-transform:uppercase; padding:8px 5px; margin-top:5px; margin-bottom:3px; background-color:#ee7125; display:block; letter-spacing:0.02em;}
.stybtt-view:hover, .stybtt-view:active{color:#fff;}

.sty-schbx{width:95%; margin:15px auto; display:block;}
.sty-srch{background:#fff url(../images/search-icon.png) no-repeat 99% 4px; font:17px Corbel; padding-right:38px; padding-left:10px;}
.lnsty{border-top:1px solid #7c7b7b;}

.call-optbx{margin-top:-16px;}
.call-txtbx i{font-size:13px;}
.call-icon img{margin-bottom:-3px;}
.call-txtbx span{margin-top:-3px;}
.call-dropdown{top:51px; height:auto; background-color:#fff; background-image:none;}
.calln-othr ul li{padding:8px 5px;}
ul.call-scolm{margin:8px 0 12px;}
.call-dropdown .closebtt{padding-top:0px; padding-bottom:8px;}
.call-numb ul li:last-child{border-bottom:1px solid #ccc; margin-bottom:12px;}
}

@media (min-width: 767px) and (max-width: 991px) {
.logo{margin-top:6px;}
.hotel-detbx ul li{width:49%; border-bottom:none; margin-right:10px;}
.hotel-detbx ul li:last-child{margin-right:inherit;}

.travel-insptbx strong{width:90%; top:35%; padding:0 50px;}

.tailor-icon{margin-top:7px;}
.tailor-icon ul li{padding:7px; height:175px;}
}

@media (max-width: 767px) {
.newsletter input{margin-bottom:15px;}
.newsletter{margin-bottom:15px; padding-bottom:30px;}

.footer-address{margin-bottom:10px;}

.travel-inspbg{background-image:none; background-color:#3ca1ae;}
.travel-insptbx a{display:inline-block;}
.travel-insptbx{min-height:165px;}

.top-destbx{padding:0 15px; margin-top:20px; text-align:center;}
.top-destbx a{display:inline-block;}

.bg-header{background-color:#222; background-image:none;}

.vdexp img{text-align:center; margin:0 auto;}

.tourbx-theme, .brd1, .brd2{border:none;}
.tourbx-theme:hover{background-color:transparent;}

.spnwdh{padding:0px;}

.toptxt-head p{padding-bottom:15px;}

.theme-tourtop ul li{border:2px solid #fff;}
.theme-tourtop ul li:last-child{border-right:2px solid #fff;}
.theme-tourtop ul li img{margin:10px auto 0; border:5px solid #cbcbcb;}

/*body{padding-top:140px;}*/

.headht{height:130px;}
.stybtt-view{margin-top:30px;}

.call-txtbx, .call-optbx .arrow{display:none;}
.call-icon{padding-right:15px;}
.call-icon img{margin-right:0px; width:35px; margin-top:10px;}
}

@media screen and (max-width: 991px) {
.lgnon, .calltext, .top-search-wrapper .gobtt{display:none;}
.lgnon1{display:block;}

.navbg, .menuwrapper{background-color:#373737 !important; background-image:none; overflow:hidden;}
a.new-menu-link{display:block; padding:0px; width:20px !important; height:20px !important; float:right; text-decoration:none;}
.new-menu {clear:both; min-width:inherit; float:none; height:auto;}
.new-menu, .new-menu > ul ul {overflow:hidden; max-height:0; border-radius:0px;}

.new-menu ul li {float:none;}
.new-menu.active, .new-menu > ul ul.active {max-height:75em;}
.new-menu ul {display:inline;}
.new-menu li, .new-menu > ul > li, .mutext{display:block;}
.new-menu li a{display:block; padding:9px 15px !important; border-bottom:1px solid #7c7b7b; position:relative;}
.new-menu ul li:hover > a{color:#FFF;}
	
.clickmu{display:block; width:50px; height:42px; padding:9px 0px 9px; background-color:#414241; border-left:1px solid #7c7b7b; position:absolute; top:0px; right:0; font:20px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; cursor:pointer;}
.clickmu:after {content:"+";}
.clickmu.active:after {content:"-";}
.new-menu ul ul, .new-menu ul ul ul {display:inherit; position:relative; left:auto; top:auto; box-shadow:none; border:none;}
ul.dropdown-columns2, ul.dropdown-1col, ul.dropdown-2col{width:auto; float:none !important;}

.new-menu ul li{border-right:none !important;}
.new-menu ul > li a:hover, .click:hover{color:#FFF !important; background-color:#bf000f;}
.new-menu ul li:hover{background-color:transparent;}
.new-menu ul li:hover, .new-menu ul ul li a:hover{color:#bf000f !important;}

.new-menu ul li:hover > a{border-top:none;}
.new-menu ul li:hover > a .muhomeicon{background:url(../images/menu-icon.png) no-repeat 0px 0px;}

.navrightbx,.new-menu ul.hasss, .navlkwrap1, .new-menu .navtour-imgbx{width:100%; float:left !important; margin:0px; padding:0px; background:none;}

.mutourbx, .navrightbx strong, .navrightbx .trallview, .navlinks .muviewall, .besticon, .summericon, .muluxuryicon, .muwildlifeicon, .muoffericon, .mutravelicon, .mutoolsicon, .mumonsoonicon, .mublogicon, .musprites, .bnnlnk, .nrhdis,.new-menu ul li a i, .new-menu ul li:hover i, .newmusprites, .new-menu .linkhide, .lgbticon, .muayurveda{display:none; margin:0px;}
.new-menu .navtourbx, .new-menu .navtour-imgbx{background-color:transparent;}

.new-menu .navtourbx a, .new-menu .navtour-imgbx a{text-align:left; padding:9px 16px !important; color:#777777 !important;}
.new-menu ul li a .ihplnav{margin:-12px 2px -4px 0px;}

.nrhtext img{display:none;}
.nrhtext span{display:block;}

.linknav{width:100%;}
.linknav, .linknav .innerlink li{margin:0px;}
.linknav .innerlink{display:inline;}
.linknav .innerlink li a{padding:9px 0 9px 10px !important; background-image:none; font:14px "Century Gothic"; text-transform:uppercase;}

.nrhtext:first-child{margin-bottom:0px;}
}

@media (min-width: 471px) and (max-width: 680px) {
.theme-tourtop ul li{width:45%; margin:10px;}
}

@media screen and (max-width: 630px) {
.footer-bg4{padding-top:10px;}
.ftviewbtt{margin-top:-47px;}
.footer-newlinks{width:100% !important; height:auto; margin-top:5px;}

.toptxt-head p{padding-bottom:15px;}

.ptext-none{display:none !important;}

.tailor-icon ul li{border-right:none; border-bottom:1px dotted #fff; padding:15px; float:none; width:100%; height:auto;}
.tailor-icon ul li:last-child{border-bottom:none;}
}

@media only screen and (max-width: 530px){
.calln-othr ul li{padding:8px 5px 2px;}
.calln-othr ul li p{float:none;}
.calln-othr ul li a{float:none; width:auto; display:block;}
.calln-othr ul li .clltm{float:right; width:150px;}
.call-experts{font-size:22px;}
.call-experts::after{margin-bottom:0px;}
.call-icon{padding-left:5px; padding-right:8px;}
}

@media only screen and (max-width: 390px){
.call-numb ul li{font:15px/20px Corbel; padding:8px 5px;}
.call-numb ul li a{font:bold 15px "Century Gothic"; width:140px;}
}

@media only screen and (max-width: 340px){
.call-numb ul li br{display:block;}
.stwth{padding-right:6px;}
}

@media only screen and (max-width: 505px){	
.toptxt-head p{font-size:17px;}
}

@media only screen and (max-width: 480px){
.footer-newlinks strong{text-align:center;}
.innerwdh{width:100%;}
.footer-newlinks ul li{padding-bottom:10px; padding-left:10px; background-image:none;}
.footer-newlinks ul li a{display:block; font-size:16px; color:#111; text-align:center; padding-top:7px; padding-bottom:7px; background-color:#dadada; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}
.footer-newlinks ul li a:hover{color:#fff; background-color:#bf000f;}

.m1 ul{margin:-9px 0 0px !important;}
}

@media only screen and (max-width: 470px){
.plantrip-wrapper{margin-top:-60px;}

.fb-like{float:none !important;}
.mediasl{width:auto; text-align:center; display:inline !important; margin: 0 auto !important;}

img.googleplus1{width:31px; height:31px; background:url(../images/sprite-image.png) no-repeat -99px -156px transparent; margin:0px; border:none; padding:0px;}
img.linkedin1{width:30px; height:31px; background:url(../images/sprite-image.png) no-repeat -67px -156px transparent; margin:0px; border:none; padding:0px;}
img.blog1{width:30px; height:30px; background:url(../images/sprite-image.png) no-repeat -134px -156px transparent; margin:0px; border:none; padding:0px;}

.topdest-wrapper, .hotelbx{width:100%;}

.vdwdth{width:100%;}

.theme-tourtop ul li{width:100%; margin-top:10px; margin-bottom:10px;}

ul.trippt li{width:100%; border-right:none;}
}

@media (max-width: 390px) {
.hotel-detailbx{width:100%;}
}

@media only screen and (max-width: 374px){
.travel-insptbx{width:100%;}
}

@media only screen and (max-width: 360px){
.top-destbx a{display:block;}
}

@media only screen and (max-width: 355px){
.callwp{padding-left:5px; padding-right:3px;}
.callwp p a{font-size:1em;}
}

@media only screen and (max-width: 320px){
.where-togo{width:100%; margin-bottom:5px; margin-top:5px;}
}

@media (max-width: 810px) {
.social-media{margin-left:0px;}
}

@media (max-width: 330px) {
.social-media ul li{padding:5px;}
}

/*------special offer------*/
@media screen and (max-width: 991px) {
.spcoffer{padding:45px 8px !important; height:162px;}
}

@media (max-width: 767px) {
.offerspl{margin-top:20px;}
.offerspl img{margin:0 auto;}
}

@media screen and (max-width: 750px) {
.splbx-offer ul li{width:100%; margin:10px; border:2px solid #fff;}
.splbx-offer ul li:last-child{border-right:2px solid #fff;}
.splbx-offer ul li img{margin:10px auto 0; border:5px solid #cbcbcb;}

.splbx-offer ul li:first-child{width:100%; height:auto; padding:10px !important;}
.spcoffer::before{width:0px; height:0px; position:absolute; left:50%; bottom:-9px; margin-left:-8px; border-top-color:#bb000f; border-style:solid; border-width:10px 8.5px 0 8.5px; border-color:#bb000f transparent transparent transparent; content:"";}
.spcoffer::after{display:none;}
}

@media screen and (max-width: 292px) {
.callwp p a{font-size:0.9em;}
}

@media screen and (max-width: 275px) {
.nwth{padding:0px;}
a.new-menu-link{float:none;}	
}
