@font-face{font-family:'Oswald';src: url('../Oswald.ttf')}
@font-face{font-family:'Myriad Pro';src: url('../MyriadWebPro.ttf')}
@font-face{font-family:"Century Gothic";src: url('../GOTHIC.ttf')}
@font-face{font-family:'Trajan Pro';src: url('../TrajanPro-Regular.otf')}
@font-face{font-family:'Rockwell';src: url('../fonts/ROCK_0.TTF')}
@font-face{font-family:'Corbel';src: url('../fonts/CORBEL_1.TTF')}
@font-face{font-family:"HelveticaNeueLT Std Thin"; src: url('../fontscore.com_h_helvetica-neue-lt-std-35-thin.otf'); /* IE9 */}

@font-face {font-family:'Trajan Pro'; src: url('../fonts/trajan_pro.eot'); src: url('../fonts/trajan_pro.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro.svg#Trajan Pro') format('svg'), url('../fonts/trajan_pro.woff') format('woff'), url('../fonts/trajan_pro.ttf') format('truetype'); font-weight:normal;  font-style:normal;}

@font-face {font-family:"Century Gothic"; src: url('../fonts/gothic.eot'); src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/gothic.svg#Century Gothic') format('svg'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype'); font-weight:normal; font-style:normal;}

.top-button a, a.view-destbt, .top-search-wrapper .gobtt, .theme-tourtop ul li, .splbx-offer ul li, .travel-insptbx span, .plamonth ul li a{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

IHPLSchema{display:none}

.clearbt{clear:both;}

.mrgt{margin:0 auto;}

.over-autobx{overflow:auto;}

.logo{margin-top:5px;}
img.ihpllogo{width:161px; height:56px; background:url(../images/sprite-image.png) no-repeat 0 0; background-color:transparent;}
.lgnon1, .sty-schbx, .stymenu{display:none;}

.top-rgthd{margin-top:15px; float:right;}

/*---call css--*/
.call-optbx{margin:-8px 0 0; cursor:pointer; position:relative; letter-spacing:0.01em; text-align:right;}
.call-icon{padding-right:0px; cursor:default;}
.call-icon img{float:right; margin-top:7px; margin-right:-10px; cursor:pointer;}
.call-txtbx{text-align:left;}
.call-txtbx i{font:italic 14px "Century Gothic"; color:#d34205; display:block; margin:7px 0 -4px; padding:0px;}
.call-txtbx p{margin-bottom:0px; font:bold italic 18px "Century Gothic"; color:#333;}

.call-optbx .arrow{position:absolute; background:url(../images/call-icons.png) no-repeat 0 0; width:15px; height:8px; right:20px; top:30px;}
.call-optbx.active .arrow{background-position:-16px 0px;}

.call-dropdown{width:100%; height:455px; background:#fff url(../images/call-map.jpg) no-repeat center top; z-index:500; position:absolute; top:65px; left:0; padding:10px 0 0; display:none; box-shadow:0 6px 5px -5px #333; letter-spacing:0.02em;}
.call-dropdown.user_logged_in{top:130px;}

.call-experts{font:italic 28px Corbel; color:#333; text-align:center;}
.call-experts::after{content:""; display:block; background:#333; width:65px; height:3px; margin:5px auto 10px;}
.call-numb ul, .calln-othr ul{margin:0px; padding:0px; list-style:none;}
.call-numb ul li{display:block; font:16px/38px "Century Gothic"; color:#333; border-bottom:1px solid #ccc; padding:2px 5px;}
.call-numb ul li:last-child{border-bottom:none;}
.call-numb ul li a{float:right; width:150px; font-weight:bold; color:#333;}
.call-numb ul li br{display:none;}

.call-numb-othr p{font:21px Corbel; color:#676767; text-transform:uppercase; text-align:center;}
.calln-othr ul li{font:16px/38px "Century Gothic"; color:#333; border-bottom:1px solid #ccc; padding:15px 5px; float:left; width:100%;}
.calln-othr ul li p{text-align:left; font:16px "Century Gothic"; color:#333; margin-bottom:0px; float:left; text-transform:none;}
.calln-othr ul li p i{font:14px "Century Gothic"; color:#d34205; display:block;}
.calln-othr ul li a{float:right; width:150px; font-weight:bold; color:#333;}
.calln-othr ul li strong{color:#d34205;}

ul.call-scolm{margin:20px 0 0px; padding:0px; list-style:none; float:left;}
ul.call-scolm li a{display:inline-block; font:bold 15px/38px Corbel; color:#333; padding:2px 8px;}
.cll-mail{width:32px; height:32px; background:url(../images/call-icons.png) no-repeat 0 -9px; vertical-align:middle; display:inline-block;}

.call-dropdown .closebtt{display:block; font:italic bold 22px Corbel; color:#d34205; letter-spacing:0.08em; padding-top:12px; margin:0 auto; text-align:center; cursor:pointer; transition:all linear 0.2s; -webkit-transition:all linear 0.2s; -moz-transition:all linear 0.2s; -o-transition:all linear 0.2s;}
.call-dropdown .closebtt i{display:inline-block; background:#fff url(../images/closebutton.png) no-repeat 0 0; width:15px; height:15px; vertical-align:middle;}
/*---call css end--*/

.cf:before, .cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}

.menuwrapper{width:100%; height:auto; margin:5px 0 0px; padding:0px;}
.navcontainer{max-width:1070px; width:100%; margin:0 auto; position:relative; z-index:100;}

.new-menu-link{display:none; float:left; text-decoration:none; padding:19px 10px;}
.new-menu{float:left; max-width:80em; height:35px; margin:0px; padding:0px; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.new-menu ul{padding:0px; margin:0px; list-style:none; position:relative; display:inline-table;}
.new-menu ul:after{content:""; clear:both; display:block;}
.new-menu ul li{padding:0px; float:left; border-right:1px solid #7c7b7b; position:relative;}
.new-menu ul li:last-child, .new-menu ul ul li{border-right:none !important;}
.new-menu > ul > li{display:inline-block;}
.new-menu ul li a{display:block; text-decoration:none; color:#fff; font:15px/24px "Century Gothic"; padding:6px 5px 5px; text-transform:uppercase;}
.new-menu ul ul{display:none; position:absolute; top:100%; min-width:auto; background-color:#fcfbfb;}
.new-menu ul li:hover > ul{display:block;}
.new-menu ul ul > li{position:relative;}
.new-menu ul ul ul{position:absolute; left:100%; top:-1px;}
.new-menu ul li ul li{float:none;}
.new-menu ul li:hover > a{color:#000;}
.new-menu ul li:hover, .new-menu ul ul li a:hover{color:#000 !important; background-color:#fcfbfb;}
.new-menu ul li:hover > a{border-top:2px solid #bf000f; padding-top:4px;}
.new-menu ul li a i{background:url(../images/whitearrow.png) no-repeat right top; width:10px; height:6px; display:inline-block;}
.new-menu ul li:hover i{background:url(../images/blackarrow.png) no-repeat right top; width:10px; height:6px; display:inline-block;}

.linknav{width:auto; height:auto; float:left; margin:5px 10px; padding:0px;}
.linknav .innerlink{width:100%; list-style:none; display:inline-block; position:relative; left:0px;}
.linknav .innerlink li{width:100%; list-style:none; margin:3px 0 0px; padding:0px; display:inline-block; position:relative; left:0px;}
.linknav .innerlink li a{font:14px "Century Gothic"; color:#333; text-decoration:none; background:url(../images/dot.png) no-repeat 0px 10px; padding:3px 0px 3px 12px; border-top:none; text-transform:none;}
.linknav .innerlink li a:hover{color:#bf000f !important; background-color:transparent !important; border-top:none; padding-top:3px;}
.linknav .muviewall{font:italic 14px Cambria; color:#bf000f; float:right; padding:0px; margin:0px; border-bottom:none;}

.nrhtext a:hover, .new-menu .navtour-imgbx a:hover{color:#bf000f !important; background-color:transparent !important; border-top:none;}

.navrightbx{width:260px; height:auto; float:left; margin:0px; padding:10px; background-color:#e5e5e5; letter-spacing:0.02em;}
.nrhtext{width:100%; height:auto; float:left; font:14px "Century Gothic"; color:#666; padding:0px; text-transform:uppercase;}
.nrhtext a{font:14px "Century Gothic" !important; color:#666 !important; padding:0px !important;}
.nrhtext:first-child{margin-bottom:5px;}
.nrhtext span{display:none;}

ul.dropdown-columns2{width:995px; left:-311%;}

ul.dropdown-1col{width:270px; float:left;}
ul.dropdown-2col{width:197px; float:left;}

ul.dropdown-columns2, ul.dropdown-1col, ul.dropdown-2col{-webkit-box-shadow:0px 3px 7px 0px rgba(50, 50, 50, 0.75); -moz-box-shadow:0px 3px 7px 0px rgba(50, 50, 50, 0.75); box-shadow:0px 3px 7px 0px rgba(50, 50, 50, 0.75);}

.nav-colr{background-color:#d34205;}

.new-menu ul li a .muhomeicon{width:25px; height:23px; background:url(../images/menu-icon.png) no-repeat 0 0; background-color:transparent; margin:0 0 -6px; display:inline-block;}
.new-menu ul li:hover > a .muhomeicon{width:25px; height:23px; background:url(../images/menu-icon.png) no-repeat -41px 0px; background-color:transparent; margin:0 0 -6px; display:inline-block;}

.besticon{width:15px; height:17px; background:url(../images/menu-icon.png) no-repeat 0px -56px; display:inline-block; margin-bottom:-3px;}
.summericon{width:17px; height:17px; background:url(../images/menu-icon.png) no-repeat 0px -88px; display:inline-block; margin:0 -2px -2px 0;}
.muluxuryicon{width:15px; height:13px; background:url(../images/menu-icon.png) no-repeat -37px -56px; display:inline-block; vertical-align:middle; margin:-3px 0 0px;}
.muwildlifeicon{width:17px; height:17px; background:url(../images/menu-icon.png) no-repeat -80px -56px; display:inline-block; vertical-align:middle; margin:-3px 0 0px;}
.muoffericon{width:11px; height:21px; background:url(../images/menu-icon.png) no-repeat -128px -56px; display:inline-block; vertical-align:middle; margin:0 0 -2px}
.mutravelicon{width:18px; height:18px; background:url(../images/menu-icon.png) no-repeat -40px -88px; display:inline-block; vertical-align:middle;}
.mumonsoonicon{width:19px; height:20px; background:url(../images/menu-icon.png) no-repeat -97px -120px; display:inline-block; vertical-align:middle;}
.mutoolsicon{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -79px -88px; display:inline-block; vertical-align:top; margin:0 0 0 5px;}
.mublogicon{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -123px -88px; display:inline-block; margin:5px 5px -5px;}
.lgbticon{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -126px -120px; display:inline-block; margin-bottom:-3px;}
.intnationalicon{width:19px; height:16px; background:url(../images/menu-icon.png) no-repeat 0px -120px; display:inline-block; margin-bottom:-4px;}
.muayurveda{width:20px; height:16px; background:url(../images/menu-icon.png) no-repeat -25px -120px; display:inline-block; margin-bottom:-2px;}
.muwhere-hot{width:20px; height:20px; background:url(../images/menu-icon.png) no-repeat -53px -120px; display:inline-block; vertical-align:middle;}

.newmusprites{background-image:url(../images/menu-img-sprites-new.jpg); background-repeat:no-repeat; display:block; margin:0 auto 3px;}
.newmuluxury{width:200px; height:90px; background-position:0px 0px;}
.newmuwildlife{width:200px; height:90px; background-position:-216px 0px;}
.newmuoffer{width:200px; height:90px; background-position:-216px -104px;}
.newmudestination{width:200px; height:90px; background-position:-216px -208px;}
.newmu-monsoondest{width:200px; height:90px; background:url(../images/tour-menubg.jpg) no-repeat left top;}
.newmu-tourm{width:200px; height:90px; background:url(../images/tour-menubg-1.jpg) no-repeat left top;}

.navlkwrap1{width:218px; height:auto; float:left; margin:10px 10px 0px; padding:0px;}
.new-menu .navtour-imgbx{width:218px; height:auto; float:left; background-color:#e5e5e5; margin:10px 0px; padding:10px 0px 5px; letter-spacing:0.02em;}
.new-menu .navcolor{background-color:#FC0;}
.new-menu .navtour-imgbx a{font:14px "Century Gothic" !important; color:#333 !important; text-decoration:none; text-transform:uppercase; text-align:center; padding:0px !important;}

.navbg{background-color:#7d7e7d; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e)); background-image:-webkit-linear-gradient(top, #7d7e7d, #0e0e0e); background-image:-moz-linear-gradient(top, #7d7e7d, #0e0e0e); background-image:-ms-linear-gradient(top, #7d7e7d, #0e0e0e); background-image:-o-linear-gradient(top, #7d7e7d, #0e0e0e);background-image:linear-gradient(top, #7d7e7d, #0e0e0e); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);}

#wrapfooter{overflow:hidden;}
.footer-bg1{background-color:#252528;}
ul.footerlinks{margin-top:15px; margin-bottom:15px;}
ul.footerlinks li{padding-left:0px; padding-right:0px;}
ul.footerlinks li a{font:16px "Century Gothic"; color:#fff; padding-left:3px; padding-right:3px;}
ul.footerlinks li a:hover, .footer-newlinks ul li a:hover{color:#f29ba2;}

.footer-bg2{background-color:#0d0d0e; padding-top:20px; padding-bottom:15px;}
.newsletter{margin-top:5px;}
.newsletter label{font:20px Rockwell; color:#fff; padding-top:3px;}

.wrapsocial{overflow:hidden;}
.footer-address{margin-top:0px; margin-bottom:12px; font:14px/21px "Century Gothic";}
.footer-address .heading{font:24px Rockwell; color:#bf000c; margin-top:18px; margin-bottom:5px;}
.bottomtext{text-align:right;}

.footimg{margin-top:12px;}

.footer-bg3{background-color:#ececec; background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(top, #ececec, #dfdfdf); background-image:-moz-linear-gradient(top, #ececec, #dfdfdf); background-image:-ms-linear-gradient(top, #ececec, #dfdfdf); background-image:-o-linear-gradient(top, #ececec, #dfdfdf); background-image:linear-gradient(top, #ececec, #dfdfdf); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ececec, endColorstr=#dfdfdf);}

.footer-bg4{background:#37373a url(../images/bg_img.png) repeat left top; border-top:3px solid #bf000f; margin-top:15px;}
.footer-newlinks{margin-top:25px; margin-bottom:8px;}
.footer-newlinks strong{display:block; font:19px "Century Gothic"; color:#fff600; padding-bottom:5px; border-bottom:1px solid #4f4f51; letter-spacing:0.02em;}
.footer-newlinks ul{list-style:none; padding:0px; margin:10px 0px;}
.footer-newlinks ul li{padding-bottom:10px; padding-left:10px; background:url(../images/arrow-white.png) no-repeat left 6px;}
.footer-newlinks ul li a{font:14px "Century Gothic"; color:#fff; letter-spacing:0.02em;}

.social-media ul{margin-top:3px; margin-bottom:0px; text-align:right;}
.social-media li{font:20px Rockwell; color:#fff; vertical-align:middle;}
.icn-facebook{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat 0 0; display:inline-block;}
.icn-twitter{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat -48px 0; display:inline-block;}
.icn-googleplus{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat -96px 0; display:inline-block;}
.icn-linkedin{width:36px; height:35px; background:url(../images/social-media-icons.png) no-repeat -144px 0; display:inline-block;}

.ftviewbtt{margin-top:-36px; margin-right:15px; float:right;}
.ftviewbtt a{display:block; width:80px; padding:8px; font:16px Rockwell; color:#fff; text-align:center; text-decoration:none; border:none; outline:none; background-color:#bf000f; border-top-left-radius:10px; border-top-right-radius:10px; -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px;}

.bgtop-header{background:url(../images/banner-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.toptxt-head{margin-top:10px; text-align:center;}
.heading-h1{display:block; font:32px "Trajan Pro"; color:#fff; margin-top:20px; margin-bottom:10px; font-weight:bold; text-shadow:2px 2px 2px rgba(0, 0, 0, 0.8);}
.toptxt-head p{font:italic 18px/26px Corbel; color:#fff; padding-bottom:85px;}

.top-search-wrapper{text-align:center; margin-top:10px; margin-bottom:30px;}
.top-search-wrapper .search-dest{background:#fff url(../images/search-icon.png) no-repeat 6px 10px; width:360px; font:17px Corbel; padding-left:35px; height:45px; display:inline-block; border-bottom-left-radius:5px; border-top-left-radius:5px; outline:none; -webkit-border-bottom-left-radius:5px; -webkit-border-top-left-radius:5px;}
.top-search-wrapper .gobtt{font:22px Rockwell; color:#FFF; background-color:#d34205; display:inline-block; height:45px; padding:0px 25px; margin-left:-5px; text-decoration:none; text-transform:uppercase; letter-spacing:0.02em; box-shadow:none; border:none; border-bottom-right-radius:5px; border-top-right-radius:5px; outline:none;-webkit-border-bottom-right-radius:5px; -webkit-border-top-right-radius:5px; vertical-align:top;}
.top-search-wrapper .gobtt:hover{background-color:#bb000f;}

.graycol{background-color:#f4f5f0;}

.theme-tourtop, .splbx-offer{margin-top:0px;}
.theme-tourtop ul, .splbx-offer ul{margin:0px; padding:0px;}
.theme-tourtop ul li{list-style:none; border-right:2px solid #fff; padding-bottom:10px;}
.theme-tourtop ul li:last-child, .splbx-offer ul li:last-child{border-right:none;}
.theme-tourtop ul li:hover, .splbx-offer ul li:hover{background-color:#50bc55; cursor:pointer;}
.theme-tourtop ul li img, .splbx-offer ul li img{border:5px solid #f4f5f0; margin:-60px auto 0px; padding:0px;}
.theme-tourtop ul li p, .splbx-offer ul li p{font:italic 18px Corbel; color:#111; padding-top:5px; margin-bottom:0px;}

.splclr{background:rgb(255,148,42); background:-moz-linear-gradient(top, rgb(255,148,42) 0%, rgb(255,255,255) 50%, rgb(4,130,0) 100%); background:-webkit-linear-gradient(top, rgb(255,148,42) 0%,rgb(255,255,255) 50%,rgb(4,130,0) 100%); background:linear-gradient(to bottom, rgb(255,148,42) 0%,rgb(255,255,255) 50%,rgb(4,130,0) 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff942a', endColorstr='#048200',GradientType=0 );}

/*------special offer css start------*/
.splbx-offer ul li{list-style:none; float:left; width:26%; border-right:2px solid #fff; padding-bottom:10px;}
.splbx-offer ul li:first-child{width:20%;}
.splbx-offer ul li:first-child:hover{background-color:#bb000f;}

.spcoffer{background-color:#bb000f; font:italic 28px "Trajan Pro"; color:#fff; text-align:center; padding:34px 30px !important; height:140px; position:relative;}
.spcoffer::after{width:0; height:0; position:absolute; right:-14px; top:40%; border-top:15px solid transparent; border-bottom:15px solid transparent; border-left:15px solid #bb000f; content:"";}

.offerspl{margin-top:10px;}
.offerspl img{border:1px solid #fff; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
/*------special offer css end------*/

.heading-h2{display:block; font:36px/46px "Trajan Pro"; color:#111; padding-bottom:10px; margin-top:0px; margin-bottom:10px; background:url(../images/gray-dots-lines.png) no-repeat center bottom;}
.heading-h2 span{font:italic 36px Corbel; color:#bb000f;}

.top-destbx{margin-top:10px; margin-bottom:10px; padding-left:6px; padding-right:6px;}
.top-destbx span{font:24px Corbel; color:#222; display:block; padding:5px 8px; border-bottom:1px solid #898989;}

.top-destbx .dbarrow{width:25px; height:25px; background:url(../images/new-home/org-double-arrow.png) no-repeat right top; display:inline-block; float:right; margin-top:7px; margin-right:7px;}
.top-destbx a:hover > .dbarrow{width:25px; height:25px; background:url(../images/new-home/green-double-arrow.png) no-repeat right top; display:inline-block; float:right; margin-top:7px; margin-right:7px;}

.tourlink-dest{margin-top:15px;}
.tourlink-dest ul{margin-left:0px;}
.tourlink-dest ul li{line-height:50px; margin-bottom:5px;}
.tourlink-dest ul li a{font:18px Corbel; color:#333; padding:8px 12px; border:1px solid #dbdbdb; background-color:#f1f1f1; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.tourlink-dest ul li a:hover{color:#FFF; border:1px solid #9f000a; background-color:#bf000c; background-image:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none;}

a.view-destbt{font:22px Corbel; color:#fff; text-decoration:none; text-align:center; padding:6px 25px; margin-top:10px; margin-bottom:5px; background-color:#bf000c; display:inline-block;}
a.view-destbt:hover{color:#FFF; background-color:#ee7125;}

.travel-inspbg{background:#3ca1ae url(../images/new-home/theme-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.travel-insptbx{margin-top:10px; margin-bottom:10px; min-height:160px; text-align:center;}
.travel-insptbx img{margin:0 auto; overflow:hidden; border:1px solid #fff; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;}
.travel-insptbx span{display:block; width:140px; height:140px; position:relative; background:url(../images/new-home/icon-tranp.png) repeat left top; margin:-150px auto 0px; -webkit-border-radius:80%; -moz-border-radius:80%; border-radius:80%;}
.travel-insptbx a:hover > span{width:160px; height:160px; margin:-160px auto 0px;}
.travel-insptbx strong{font:25px/26px Corbel; color:#222; text-align:center; position:absolute; top:34%; width:162px; display:block; padding:0 15px;}

.autocomplete-suggestions{border:1px solid #999; background:#FFF; overflow:auto;}

/*---new css--*/
.topd-line{display:block; border:1px solid #333; position:relative; padding:15px; margin-top:10px; margin-bottom:15px; background-color:#f9f9f9;}
.topd-line::before{border:1px solid #333; position:absolute; top:7px; right:-7px; display:block; z-index:-999; content:""; width:100%; height:100%;}
.topd-line::after{border:1px solid #333; position:absolute; top:-7px; left:-7px; display:block; z-index:-999; content:""; width:100%; height:100%;}

.video-outterbx{margin-top:0px; width:35.67%;}

.video-outterbx .carousel-control .glyphicon-chevron-left, .video-outterbx .carousel-control .glyphicon-chevron-right, .video-outterbx .carousel-control .icon-prev, .video-outterbx .carousel-control .icon-next{margin-top:40px;}

/*---video css--*/
.video-caption{padding-top:5px; padding-bottom:5px; text-align:center; font:1.2em Corbel; background-color:#111; letter-spacing:0.02em;}
.video-caption span{display:block; color:#fff;}
.video-caption strong{display:block; color:#fffc00;}
.video-caption p{color:#fff; margin-bottom:0px;}

.video-outterbx .carousel-control{height:0px;}
.video-outterbx .carousel-control{top:22%;}
.video-outterbx .carousel-control.left, .video-outterbx .carousel-control.right{background-image:none !important;}

.tripmg{width:63.667%; margin-top:42px;}

ul.trippt{margin:35px 0px 30px; padding:0px;}
ul.trippt li{list-style:none; float:left; width:33%; border-right:1px dotted #ccc;}
ul.trippt li:last-child{border-right:none;}
ul.trippt li img{margin:0 auto 8px;}
ul.trippt li span{display:block; font:24px "Trajan Pro"; color:#111; margin-bottom:8px;}
ul.trippt li p{font:italic 17px Corbel; color:#333; text-align:center; padding:0 25px;}

.plamonth{margin-top:20px; margin-bottom:0px; text-align:center;}
.plamonth ul{margin:0px; padding:0px;}
.plamonth ul li{padding-left:10px; padding-right:10px;}
.plamonth ul li a{display:inline-block; width:70px; height:70px; font:bold 24px "Trajan Pro"; color:#fff; padding:17px 15px; background-color:#333; -webkit-border-radius:100%; -moz-border-radius:100%; border-radius:100%;}
.plamonth ul li a span{display:inline; font-size:16px; color:#fff;}
.plamonth ul li a:hover{background-color:#d34205;}
/*---new css end--*/

/*---exp css--*/
.bg-header{background:url(../exp/images/home-img/banner-bg-exp.jpg) no-repeat center center; min-height:430px; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.tailor-icon{margin-top:30px; letter-spacing:0.02em;}
.tailor-icon ul{margin:0px; padding:0px; list-style:none;}
.tailor-icon ul li{border-right:1px dotted #fff; padding:15px; float:left; width:25%; height:150px;}
.tailor-icon ul li:last-child{border-right:none;}
.tailor-icon ul li p{font:1.3em Corbel !important; color:#fff; margin-top:8px; padding-bottom:0px;}

.tailor-icn1{background:url(../exp/images/home-img/tailor-icon.png) no-repeat 0 0; width:47px; height:34px; display:inline-block;}
.tailor-icn2{background:url(../exp/images/home-img/tailor-icon.png) no-repeat -61px 0px; width:34px; height:34px; display:inline-block;}
.tailor-icn3{background:url(../exp/images/home-img/tailor-icon.png) no-repeat -112px 0px; width:40px; height:30px; display:inline-block;}
.tailor-icn4{background:url(../exp/images/home-img/tailor-icon.png) no-repeat -167px 0px; width:33px; height:34px; display:inline-block;}

.tour-selectbx{border:1px solid #dadada; margin-top:15px; margin-bottom:20px; padding:0px 15px 10px; letter-spacing:0.02em;}

.tour-selhead{background-color:#222; text-align:center; padding:8px; margin:0 -15px;}
.tour-selhead a h2{font:italic 22px Corbel; color:#fff; margin:0px;}
.tour-selhead h2 span{display:inline-block; font:24px "Trajan Pro"; font-style:normal; color:#fffc00;}

.tourbx-theme{padding-top:15px; padding-bottom:8px; text-align:center; border-top:1px dotted #cecece;}
.tourbx-theme:hover{background-color:#f4f5f0;}

.tourbx-theme span{display:block; font:1.2em Corbel; color:#333; padding-top:7px;}
.tourbx-theme span::before{content:""; display:block; width:0; height:0; position:relative; margin:-15px auto 0; border-left:10px solid transparent; border-right:10px solid transparent; border-bottom:10px solid #fff;}

.brd1{border-right:1px dotted #cecece;}
.brd2{border-bottom:1px dotted #cecece;}

.view-tour{font:16px "Trajan Pro"; color:#fff; text-decoration:none; text-align:center; padding:6px 25px; margin-top:20px; margin-bottom:10px; background-color:#bf000c; display:inline-block; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.view-tour:hover{color:#FFF; background-color:#ee7125;}

/*---Global Sites css--*/
.global-sitesbx{margin-top:4px; font:1em "Century Gothic"; letter-spacing:0.02em;}

/*---back button css--*/
.back-btt a{display:none;}

<!-- 7-1-2016 -->
.sploffer-wrapper{margin-top:12px; margin-bottom:12px; letter-spacing:0.02em; border:solid 1px #d7d7d7; -webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}

.sploffer-iconbx{position:relative;}
.sploffer-iconbx p{width:102px; height:75px; position:absolute; top:0px; left:15px; background:url(../images/offericon.png) no-repeat left top; text-align:center; padding-top:5px; font:italic
18px Georgia, "Times New Roman", Times, serif; color:#fff;}
.sploffer-iconbx strong{color:#FF0; font-size:24px;}

.sploffer-txtbx{padding:8px 10px 15px;}
a.sploff-tourheading{display:block; font:bold 17px "Century Gothic"; color:#bf000c; padding-bottom:5px; text-align:center;}
.sploffer-txtbx p{font:16px "Century Gothic"; color:#333; text-align:center;}

.sploff-prbx{margin:5px -10px 15px;}
.sploff-prbx table{width:100%;}
.sploff-prbx table th{font:bold 15px "Trajan Pro"; color:#fff; background-color:#428bca; padding:6px 0px; text-align:center; border-right:1px solid #ccc;}
.sploff-prbx table td{font:20px "Century Gothic"; color:#333; padding:6px 0px; text-align:center; text-decoration:line-through; border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.sploff-prbx table tr{background-color:#fafaff;}
.sploff-prbx table th:last-child{border-right:none;}
.sploff-prbx table td:last-child{border-right:none;}
.sploff-prbx table th:nth-child(2n){background-color:#bf000c;}
.sploff-prbx table td:nth-child(2n){color:#fff; background-color:#bf000c; font-size:24px; font-style:italic; text-decoration:none;}
  
.sploff-viewbtt{text-align:center;}
.sploff-viewbtt a{font:17px "Trajan Pro"; color:#bf000c; text-decoration:none; text-transform:uppercase; text-align:center; display:block; padding:8px 15px; background-color:#fff; border:1px solid #ccc; outline:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:inline-block;}
.sploff-viewbtt a:hover{color:#FFF; background-color:#bf000c; border:1px solid #ccc; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none;}  
<!-- 7-1-2016 -->
