@font-face{font-family:'Oswald';src: url('../Oswald.ttf')}
@font-face{font-family:'Myriad Pro';src: url('../MyriadWebPro.ttf')}
@font-face{font-family:"Century Gothic";src: url('../GOTHIC.ttf')}
@font-face{font-family:'Trajan Pro';src: url('../TrajanPro-Regular.otf')}
@font-face{font-family:'Rockwell';src: url('../fonts/ROCK_0.TTF')}
@font-face{font-family:'Corbel';src: url('../fonts/CORBEL_1.TTF')}
@font-face{font-family:"HelveticaNeueLT Std Thin"; src: url('../fontscore.com_h_helvetica-neue-lt-std-35-thin.otf'); /* IE9 */}

@font-face {font-family:'Trajan Pro'; src: url('../fonts/trajan_pro.eot'); src: url('../fonts/trajan_pro.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro.svg#Trajan Pro') format('svg'), url('../fonts/trajan_pro.woff') format('woff'), url('../fonts/trajan_pro.ttf') format('truetype'); font-weight:normal;  font-style:normal;}

@font-face {font-family:"Century Gothic"; src: url('../fonts/gothic.eot'); src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/gothic.svg#Century Gothic') format('svg'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype'); font-weight:normal; font-style:normal;}

.top-button a, .searchwrap .bttclick, .detailbtt-tourpack a, .enqubtt-tourpack a, .cities-linkbx ul li a, .box a.read-more, .bottombtt a, a.shviewbtta, .toursubmitbtt, a.tripview, .tourdest-linkbx ul li a, .topwildbtt a, .topwildpkg-wrap span, .tg1, .tg2, .tg3, .tg4, .tg5, .tg6, .tg7, .tg8, .tg9, .tg10, .travelatt-linkbx ul li a, .travelgd-infowrap span, .pkgdest-linkbx ul li a, .pkgform-box .submitbtt, .error-search .submitbtt, .sploff-viewbtt a, .enquiry-form-wrapper .submitbtt, .sploff-viewbtt a, .htsearch-lstbtt, .lng-viewpkg, .longweek-btt, .grtfest-link a, .wknd-vmbtt, .wknd-sebtt, .wdfrom-linkbx ul li a, .pkglink-dest ul li a, .destpkg-infobx span::before, .updates-read-more, .group-trs-btton .viewbtt-all, .theme-destination a.read-more, .plamonth ul li a, .tour-inqbtt, .more-buton, .theme-destination-box a.read-more{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

article p{font:16px "Century Gothic"; color:#333; letter-spacing:1.5px; line-height:26px; text-align:center; text-align:justify;}
article a{color:#1a0dab; text-decoration:none; font-weight:bold;}
article a:visited{color:#660099;}

article ul{margin:0px; padding:0px;}
article ul li{margin:2px 0 12px 17px; list-style:circle; font:16px "Century Gothic"; color:#333;}
article ul li a{font:16px "Century Gothic"; color:#bf000c;}
article ul li a:hover{text-decoration:underline;}

.heading-main1{font:36px "Trajan Pro"; color:#bb000f; display:inline-block; border-bottom:1px solid #111;}
.desttpomg{margin-top:0px; border-bottom:none;}

.pkginterestwrap{position:relative; margin-bottom:19px; padding-left:0px;}
.pkginterestwrap span{background-color:#40611b; position:absolute; bottom:0px; left:0px; font:small-caps 21px "Century Gothic"; color:#fff; padding:3px 8px; margin-right:15px;}
.pkginterestwrap a:hover > span{color:#FFF600; text-decoration:none;}

.tlisting{letter-spacing:0.02em;}
.tlisting h1{font:24px "Trajan Pro"; color:#bf000c; margin-top:0px;}
.tlisting h2{font:20px "Trajan Pro"; color:#bf000c; margin-top:0px;}
.tlisting p{font:16px/26px "Century Gothic"; color:#333; text-align:justify; letter-spacing:0.02em;}

.tourlink-other ul li a{background-color:#ffffff; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1)); background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1); background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1); background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1); background-image: -o-linear-gradient(top, #ffffff, #f1f1f1); background-image: linear-gradient(top, #ffffff, #f1f1f1); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f1f1f1)}

.tourlink-other{margin-bottom:18px;}
.tourlink-other strong{font:24px Rockwell; color:#333; display:block; padding-bottom:8px;}
.tourlink-other ul{margin-left:0px;}
.tourlink-other ul li{line-height:50px; margin-bottom:5px; padding-left:3px; padding-right:3px;}
.tourlink-other ul li a{font:16px "Century Gothic"; color:#333; padding:8px; border:1px solid #dbdbdb; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.tourlink-other ul li a:hover{color:#FFF; border:1px solid #9f000a; background-color:#bf000c; background-image:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none;}

.white-gray, .tourlink-other ul li a, .tourpack-pagtbox{background-color:#ffffff; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1)); background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1); background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1); background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1); background-image: -o-linear-gradient(top, #ffffff, #f1f1f1); background-image: linear-gradient(top, #ffffff, #f1f1f1); filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#f1f1f1)}

.tourpack-listwrap{padding:15px 10px 15px 0px; border:1px solid #e0e0e0; margin-bottom:15px; overflow:hidden;}
.tourpack-listwrap img{display:block; width:100% \9; max-width:100%; height:auto;}
.tourpack-listwrap p{font:14px/22px "Century Gothic"; color:#333; margin-top:10px; margin-bottom:20px;}

.tourpack-left{padding-left:0px !important; margin-left:-15px !important;}
.tourpack-headbx a{font:18px "Trajan Pro"; color:#bf000c; display:block;}

.tourpackdays{font:20px Rockwell; color:#333; text-align:center;}
.padding-less{padding-left:0px !important; padding-right:0px !important;}

.tourpack-price span{border:1px solid #e0e0e0; font:15px "Trajan Pro"; color:#333; text-align:center; display:block; padding-top:8px; padding-bottom:8px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.detailbtt-tourpack a:hover, .enqubtt-tourpack a:hover{color:#FFF; background-color:#ee7125;}
.detailbtt-tourpack a{font:15px "Century Gothic"; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; display:block; padding-top:8px; padding-bottom:8px; background-color:#41aac9; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.enqubtt-tourpack a{font:15px "Century Gothic"; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; display:block; padding-top:8px; padding-bottom:8px; background-color:#41aac9; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.tourpackbg1{background-color:#f0f0ef; padding-top:5px; padding-bottom:15px; margin-bottom:15px;}
.tourpackbg{background-color:#f0f0ef; padding-top:15px; padding-bottom:15px; margin-bottom:15px;}

.tourpack-filterbx{background-color:#fff; border:1px solid #c2c2c2; margin-top:15px; /*width:263px;*/}
.tourpack-filterbx select{margin:10px 8px; width:93%;}
.tourpack-filterbx ul{margin:8px; padding:0px;}
.tourpack-filterbx ul li{border-bottom:#EFEFEF solid 1px; color:#333; font:14px "Century Gothic"; list-style-image:none; list-style-position:outside; list-style-type:none; padding:5px; margin:0px;}
.tourpack-filterbx ul li:last-child{border-bottom:none;}
.tourpack-filterbx ul li input{float:right;}
.tourpack-filterbx ul li img{vertical-align:bottom;}
.tourpack-filterbx ul li span{float:right; margin-right:5px;}

.tfilter-heading{font:16px "Century Gothic"; color:#333; padding:8px; margin-bottom:8px; border-bottom:1px solid #c2c2c2; position:relative;}
.tfilter-heading:after, .tfilter-heading:before {top:100%; left:17%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
.tfilter-heading:after {border-color:rgba(136, 183, 213, 0); border-top-color:#f1f1f1; border-width:8px; margin-left:-30px;}
.tfilter-heading:before {border-color:rgba(194, 225, 245, 0); border-top-color:#c2c2c2; border-width:10px; margin-left:-32px;}

.pkgform-wrapper{background-color:#222;}

.cont-wth1{width:263px;}

.pkgform-box input, .pkgform-box textarea{margin-bottom:8px; padding:6px;}
.pkgform-box select{margin-bottom:8px; padding:6px 2px;}

.pkgform-headbx{font:1.50em "Trajan Pro"; color:#fff; letter-spacing:0.02em; background-color:#d34205; padding-top:8px; padding-bottom:8px; margin:0px; position:relative;}
.title-arrow{width:0px; height:0px; position:absolute; left:50%; bottom:-10px; margin-left:-8px; border-top-color:#d34205; border-style:solid; border-width:10px 8.5px 0 8.5px; border-color:#d34205 transparent transparent transparent;}
.pkgform-box{padding:15px;}

.leftpd{padding-left:0px;}
.capcode-img{margin-top:4px;}

.pkgform-box .submitbtt{font:1.3em "Century Gothic"; color:#fff; background-color:#d34205; padding:8px 25px; margin:5px auto 0px; display:block; text-decoration:none; text-transform:uppercase; letter-spacing:0.02em; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; box-shadow:none; border:none;}
.pkgform-box .submitbtt:hover{color:#fff; background-color:#bf000c; text-decoration:none;}

.tourpack-pagtbox{border:1px solid #e0e0e0; padding:10px 15px; margin-bottom:15px;}

.pagtextbx{margin-top:12px; font:15px "Century Gothic"; color:#333;}

.pagtwrap{margin-top:5px !important; margin-bottom:0px !important;}
.pagtwrap ul{margin:0px;}

.pagtboxsel{margin-top:5px;}
.pagtboxsel label{font:15px "Century Gothic"; color:#333; display:inline-block;}
.pagtboxsel select{display:inline; width:auto;}

.header-bg1{background:url(../images/packages-destinations-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.dest-schbx{background:url(../images/whitebg.png) repeat left top; text-align:center; margin-top:60px; margin-bottom:60px; padding:15px; overflow:hidden;}

.destsch-innerbx{-webkit-box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5); box-shadow:0px 0px 5px 0px rgba(161, 161, 161, 0.5);}
.pdd{padding:0px;}
.destsch-innerbx .form-control{border-radius:0px; height:55px; font:24px Corbel; color:#999; border:none; display:block; background:#fff url(../images/search-icon.png) no-repeat 6px 16px; padding-left:35px;}
.destsch-innerbx .schbtt{font:bold 24px Corbel; color:#fff; background-color:#d34205; border:none; outline:none; display:block; height:55px; padding:0 30px;}
.dispnon{display:none;}

.h1-txt{display:inline-block; font:32px "Trajan Pro"; color:#bb000f; background:url(../images/gray-dots-lines.png) no-repeat center bottom; padding-bottom:10px;}
.h2-txt{font:27px "Trajan Pro"; color:#111; background:url(../images/gray-dots-lines.png) no-repeat center bottom; padding-bottom:10px;}

.destpkg-bgbx{padding-left:5px; padding-right:5px; margin-top:5px; margin-bottom:5px; text-align:center;}

.destpkg-bginner{position:relative;}
.destpkg-bginner span{display:block; font:24px "Trajan Pro"; color:#fff; text-align:center; background:url(../images/blackbg.png) repeat left top; position:absolute; top:0px; width:100%; height:100%; padding-top:115px; text-shadow:0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;}
.destpkg-bginner span::after{content:""; display:block; width:15%; height:1px; margin:3px auto; background-color:#fff;}
.destpkg-bginner a:hover > span{background:none;}
.destpkg-bginner .destpkg-maskbx{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0; -webkit-transition:all 0.4s ease-in-out; -moz-transition:all 0.4s ease-in-out; -o-transition:all 0.4s ease-in-out; -ms-transition:all 0.4s ease-in-out; transition:all 0.4s ease-in-out;}
.destpkg-bginner:hover .destpkg-maskbx{-ms-filter:"progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); opacity:1; padding-top:25px; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#7F000000'); /* for IE */
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#7F000000'); /* for IE */    
background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 30%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 90%); /* Chrome10+,Safari5.1+ */
background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 30%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 90%); /* FF3.6+ */
background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 30%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 90%); /* IE10+ */
background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.7) 30%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 90%); /* Opera11.10+ */
background: linear-gradient(bottom, rgba(0, 0, 0, 0.7) 30%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 90%); /* W3C */}

.destpkg-maskbx{position:absolute; overflow:hidden; bottom:0; width:100%;}
.destpkg-maskbx p{font:18px "Trajan Pro"; color:#fff600; text-shadow:0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000; text-align:center;}

.pkglink-dest{margin-top:15px;}
.pkglink-dest ul{margin-left:0px;}
.pkglink-dest ul li{line-height:50px; margin-bottom:5px;}
.pkglink-dest ul li a{font:17px "Trajan Pro"; color:#333; padding:8px 15px; border:1px solid #dbdbdb; background-color:#f1f1f1; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.pkglink-dest ul li a:hover{color:#FFF; border:1px solid #9f000a; background-color:#bf000c; background-image:none; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; outline:none;}

.search-tourdest{background-color:#222;}
.search-inner-tourdest{margin-top:25px; margin-bottom:11px;}
.search-inner-tourdest label{font:italic 22px Rockwell; color:#fff; letter-spacing:0.02em; padding-top:10px;}
.search-turdest{background:#fff url(../images/search-icon.png) no-repeat 6px 10px; font-size:17px; padding-left:35px; height:45px;}
.gobtt-turdest{font:22px Rockwell; color:#FFF; background-color:#d34205; display:inline-block; height:45px; padding:0px 25px; text-transform:uppercase; letter-spacing:0.02em; box-shadow:none; border:none; vertical-align:top; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.top-tourhd{font:22px/17px Corbel; color:#222; margin-top:5px; margin-bottom:10px; border-left:4px solid #bf000c; padding-left:8px;}

.holiday-offersbx{background-color:#002e49; padding-bottom:6px;}
.holiday-offersbx a{font:17px Corbel; color:#FFF; padding:3px; margin:6px 5px 0px; text-align:center; border:1px solid #fff; display:inline-block; width:168px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.holiday-offersbx a:hover{background-color:#308dc4;}

.tour-best-sellers{background-color:#eaeae9; min-height:231px;}
.tour-best-sellers ul{margin:10px; padding:0px;}
.tour-best-sellers ul li{list-style:none; margin:0px; padding:9px 0px;}
.tour-best-sellers ul li:last-child{border-bottom:none;}
.tour-best-sellers ul li p{font:14px/14px Corbel; color:#222; padding-top:4px; margin:0px;}
.tour-best-sellers ul li p span{color:#cb3904; font-size:18px;}

.toutdays{background-color:#fff; font:14px "Century Gothic"; color:#444; text-align:center; padding:1px 3px 3px; display:block;}

a.touridtxt{font:20px/20px Corbel; color:#222; display:block; margin:2px 0 0px; padding:0px;}
a.othpkgdetail{font:italic 13px Georgia, "Times New Roman", Times, serif; color:#6d6c6c; float:right; text-align:right; padding-top:3px;}

.bgcolor{background:#f0f0ef;}

.heading-hsab{display:inline-block; font:32px/46px "Trajan Pro"; color:#222; padding-bottom:10px; margin-top:15px; margin-bottom:10px; background:url(../images/gray-dots-lines.png) no-repeat center bottom;}

.tour-destbx{position:relative; margin-top:10px; margin-bottom:5px; padding:0 5px;}
.tour-destbx span{position:absolute; bottom:8px; left:15px; font:normal 20px/25px Rockwell; color:#fff; letter-spacing:0.07em; text-transform:uppercase; text-shadow:0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;}
.tour-destbx a:hover > span, .tour-destbx1 a:hover > span{color:#FFF600; text-decoration:none;}

.tour-destbx1{position:relative; margin-top:10px; margin-bottom:10px;}
.tour-destbx1 span{position:absolute; bottom:8px; left:25px; font:normal 20px/25px Rockwell; color:#fff; letter-spacing:0.07em; text-transform:uppercase; text-shadow:0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;}

.season-box{background:#fff; padding-bottom:15px; margin-bottom:25px; box-shadow:0 6px 5px -5px #333; border:1px solid #e1e3e4;}
.season-box a.title{font:24px Corbel; color:#bb000f; text-align:center; letter-spacing:0.02em; display:block; margin-bottom:4px; padding-top:2px;}
.season-box p{font:italic 16px/18px Corbel; color:#333; text-align:center; padding-left:8px; padding-right:8px;}
.season-box a.viewall{display:block; font:italic 16px Georgia, "Times New Roman", Times, serif; color:#111; text-align:center;}
.season-box a.viewall:hover, .season-box a.title:hover{color:#bb000f; text-decoration:underline;}

.tour-durwrap{background:url(../images/lines-bg.png) repeat left top; padding:8px; margin-top:15px; margin-bottom:20px;}
.tourdur-innerbx{background-color:#FFF; padding:4px 8px;}
.tourdur-innerbx h2, .trdurhead{font:small-caps 28px Rockwell; color:#111; margin:0px 0 8px; padding:0px; border-bottom:1px solid #111; display:inline-block;}
.tourdur-innerbx ul{margin:8px 0px; padding:0px;}
.tourdur-innerbx ul li{margin:0px; padding:4px 0px 4px 10px; list-style:none; border-bottom:1px dotted #CCC; background:url(../images/arrow-black.png) no-repeat left 14px;}
.tourdur-innerbx ul li a{font:18px Corbel; color:#444;}
.tourdur-innerbx ul li:last-child{border-bottom:none;}

.headingh1{position:relative; display:inline-block; font:38px/46px "Trajan Pro"; color:#bb000f; padding:0px; margin-top:0px; margin-bottom:0px;}

.deal-slider-text{position:absolute; left:0px; bottom:0px; width:100%; background:url(../images/blackbg.png) repeat; color:#FFF; padding:5px 10px;}
.deal-slider-text strong{display:block; font:bold 18px Corbel;}
.deal-slider-text p{font:15px Corbel; padding:0px; margin:0px;}
.deal-slider-text p span{font-size:24px; color:#fff000;}

.heading-hsab1{display:inline-block; font:34px/46px "Trajan Pro"; color:#222; padding-bottom:10px; margin-top:15px; margin-bottom:10px; background:url(../images/gray-dots-lines.png) no-repeat center bottom;}

.interl-head1{font:32px/36px "Trajan Pro"; color:#bb000f; display:inline-block;}

.inter-tourbx{margin-top:20px; margin-bottom:10px;}
.inter-tourbx span{display:block; font:small-caps 24px/24px Corbel; color:#222; margin-top:8px; margin-bottom:10px;}
.inter-tourbx p{font:16px Corbel; color:#666;}

.inter-tourbx .dbarrow{width:32px; height:32px; background:url(../images/double-arrow-orng.png) no-repeat right top; display:inline-block; float:right; margin-top:-17px; margin-right:7px; position:relative;}
.inter-tourbx a:hover > .dbarrow{width:32px; height:32px; background:url(../images/double-arrow-green.png) no-repeat right top; display:inline-block; float:right; margin-top:-17px; margin-right:7px; position:relative;}

.border1{border-left:1px solid #CCC; border-right:1px solid #CCC;}
.border2, .border4{border-right:1px solid #CCC;}
.border3{border-left:1px solid #CCC;}

.inthgt{min-height:345px;}

.interl-head2{font:30px/34px "Trajan Pro"; color:#111; display:inline-block; padding-bottom:12px; margin-bottom:0px; letter-spacing:0.02em; background:url(../images/gray-dots-lines.png) no-repeat center bottom;}

.interlinkoth ul li a{padding:8px 14px;}
.txt1{font:italic 17px/24px Corbel !important; color:#333; text-align:center; letter-spacing:0.02em;}

.intltop-bg{background:url(../images/international-bg.jpg) no-repeat center center; background-attachment:scroll; -webkit-background-size:cover; -moz-background-size:cover; background-size:cover; -o-background-size:cover;}

.top-search-wrapper{text-align:center; margin-top:20px; margin-bottom:30px;}
.top-search-wrapper strong{text-align:center; display:block; font:italic 42px/36px Georgia, "Times New Roman", Times, serif; color:#fff; letter-spacing:0.02em; margin-bottom:35px; text-shadow:0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;}
.top-search-wrapper .search-dest{background:#fff url(../images/search-icon.png) no-repeat 6px 10px; width:360px; font-size:17px; padding-left:35px; height:45px; display:inline-block; border-bottom-left-radius:5px; border-top-left-radius:5px; outline:none; -webkit-border-bottom-left-radius:5px; -webkit-border-top-left-radius:5px;}
.top-search-wrapper .gobtt{font:22px Rockwell; color:#FFF; background-color:#d34205; display:inline-block; height:45px; padding:0px 25px; margin-left:-5px; text-decoration:none; text-transform:uppercase; letter-spacing:0.02em; box-shadow:none; border:none; border-bottom-right-radius:5px; border-top-right-radius:5px; outline:none;-webkit-border-bottom-right-radius:5px; -webkit-border-top-right-radius:5px; vertical-align:top;}
.top-search-wrapper .gobtt:hover{background-color:#bb000f;}

.small-hd1{font:28px "Trajan Pro"; color:#222; letter-spacing:0.02em; padding-bottom:5px; margin-bottom:20px; margin-top:7px; display:block;}

.zmidtext{margin:15px 10%; text-transform:uppercase; background:url(../images/line-image.png) repeat-x center;}
.zmidtext .white-linet{font:26px "Trajan Pro"; color:#bb000f; text-align:center; padding:0 20px; width:auto; display:inline-block; background-color:#FFF; letter-spacing:0.02em;}

.zoneleftbx{padding:0px;}
.zonedur-wrap ul li span{display:inline-block; font:15px "Century Gothic"; color:#646464; padding-top:3px;}
.zonedur-wrap{overflow:hidden;}
.zonedur-wrap ul{margin:0px; padding:0px;}
.zonedur-wrap ul li{list-style:none; margin:0px; padding:10px 0px; border-bottom:1px dashed #646464;}

.zonedur-imgbx{width:80px; height:80px; -moz-border-radius:50%; -webkit-border-radius:50%; -khtml-border-radius:50%; border-radius:50%;}

a.viewznall{font:italic 18px Georgia, "Times New Roman", Times, serif; color:#bb000f; text-decoration:none; text-align:center; display:block; padding-top:10px;}

.zonewrapper{border-bottom:5px solid #eee; margin:30px 8% 10px;}

a.zonetxt{font:17px/20px Rockwell; color:#111; display:block;}
a.zonetxt:hover, a.zonedetail:hover{color:#bb000f;}
a.zonedetail{font:italic 13px Georgia, "Times New Roman", Times, serif; color:#111; text-decoration:none; display:block; text-align:right;}

.plantrip-wrapper{background-color:#f0f0ef; -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; position:relative; margin-top:-340px; height:500px;overflow:hidden;}
.plantrip-heading{background-color:#bb000f; font:26px Rockwell; color:#FFF; padding:4px 10px; border-top-left-radius:5px; border-top-right-radius:5px; outline:none;-webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}

.tripicon{width:25px; height:21px; background:url(../images/trip-icons.png) no-repeat 0 0; display:inline-block; margin-right:8px; margin-top:6px; vertical-align:top;}
.plantrip-innerbx{padding:6px 15px;}
.plantrip-innerbx label{font:15px "Century Gothic"; color:#3c3c3b;}
.plantrip-innerbx input, .plantrip-innerbx select{border-radius:0px; margin-bottom:5px; z-index:0 !important;}
.plantrip-innerbx textarea{border-radius:0px; margin-bottom:8px;}
.plantrip-innerbx .captchabx{margin-top:5px;}

.triplocation-icon{width:11px; height:17px; background:url(../images/trip-icons.png) no-repeat -36px 0px; display:inline-block; margin-right:5px; margin-top:2px; vertical-align:top;}
.tripints-icon{width:16px; height:15px; background:url(../images/trip-icons.png) no-repeat -56px 0px; display:inline-block; margin-right:5px; margin-top:2px; vertical-align:top;}
.tripdate-icon{width:16px; height:16px; background:url(../images/trip-icons.png) no-repeat -81px 0px; display:inline-block; margin-right:5px; margin-top:2px; vertical-align:top;}
.tripperson-icon{width:18px; height:21px; background:url(../images/trip-icons.png) no-repeat -108px 0px; display:inline-block; margin-right:5px; vertical-align:top;}
.tripbudget-icon{width:15px; height:14px; background:url(../images/trip-icons.png) no-repeat -136px 0px; display:inline-block;margin-right:5px; margin-top:2px; vertical-align:top;}
.tripname-icon{width:15px; height:14px; background:url(../images/trip-icons.png) no-repeat 0px -25px; display:inline-block; margin-right:5px; margin-top:2px; vertical-align:top;}
.tripemail-icon{width:17px; height:12px; background:url(../images/trip-icons.png) no-repeat -23px -25px; display:inline-block;margin-right:5px; margin-top:4px; vertical-align:top;}
.tripwrold-icon{width:16px; height:16px; background:url(../images/trip-icons.png) no-repeat -51px -25px; display:inline-block;margin-right:5px; margin-top:2px; vertical-align:top;}
.tripphone-icon{width:16px; height:18px; background:url(../images/trip-icons.png) no-repeat -80px -25px; display:inline-block;margin-right:5px; margin-top:2px; vertical-align:top;}
.tripinfo-icon{width:17px; height:17px; background:url(../images/trip-icons.png) no-repeat -107px -25px; display:inline-block;margin-right:5px; margin-top:2px; vertical-align:top;}

.planmrg{margin-top:0px !important;}

.toursubmitbtt{font:17px Calibri; color:#FFF; text-transform:uppercase; padding:5px 20px; margin-top:6px; margin-bottom:6px; text-align:left; cursor:pointer; width:auto; border:none; background-color:#171717; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px;}
.toursubmitbtt:hover{background-color:#bb000f;}

.ptriptext{font:12.5px/14px "Century Gothic"; color:#3c3c3b; text-align:center; margin-top:5px; margin-bottom:5px;}

#ui-datepicker-div{width:520px !important;}

@font-face{font-family:'Oswald';src: url('../Oswald.ttf')}
@font-face{font-family:'Myriad Pro';src: url('../MyriadWebPro.ttf')}
@font-face{font-family:"Century Gothic";src: url('../GOTHIC.ttf')}
@font-face{font-family:'Trajan Pro';src: url('../TrajanPro-Regular.otf')}
@font-face{font-family:'Rockwell';src: url('../fonts/ROCK_0.TTF')}
@font-face{font-family:"HelveticaNeueLT Std Thin"; src: url('../fontscore.com_h_helvetica-neue-lt-std-35-thin.otf'); /* IE9 */}

@font-face {font-family:'Trajan Pro'; src: url('../fonts/trajan_pro.eot'); src: url('../fonts/trajan_pro.eot?#iefix') format('embedded-opentype'), url('../fonts/trajan_pro.svg#Trajan Pro') format('svg'), url('../fonts/trajan_pro.woff') format('woff'), url('../fonts/trajan_pro.ttf') format('truetype'); font-weight:normal;  font-style:normal;}

@font-face {font-family:"Century Gothic"; src: url('../fonts/gothic.eot'); src: url('../fonts/gothic.eot?#iefix') format('embedded-opentype'), url('../fonts/gothic.svg#Century Gothic') format('svg'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype'); font-weight:normal; font-style:normal;}

a.inquirebtt, .pkgform-box .submitbtt, a.tourinqbtt, a.tourmap{outline:none; transition:0.5s ease; -o-transition:0.5s ease; -webkit-transition:0.5s ease;}

.tourgallery{padding-left:12px; padding-right:0px;}
.advanced-slider{position:relative; overflow:hidden; outline:none; font-family:Arial, Helvetica, sans-serif; margin-left:auto; margin-right:auto;}
.advanced-slider a{position:static; transition:none !important; -moz-transition:none !important; -webkit-transition:none !important; -o-transition:none !important;}
.advanced-slider img{max-width:none; max-height:none; border:0 none; padding:0px; margin:0px; transition:none !important; -moz-transition:none !important; -webkit-transition:none !important; -o-transition:none !important;}
.advanced-slider .slider-main{position:relative; width:100%; height:100%; z-index:1;}
.advanced-slider .slide-wrapper{position:relative; overflow:hidden; width:100%; height:100%; z-index:2;}
.advanced-slider .slides{position:absolute; overflow:hidden; margin:0 !important; padding:0 !important; list-style:none; width:100%; height:100%;}
.advanced-slider .slide{position:absolute; overflow:hidden; display:block; margin:0 !important; padding:0 !important; width:100%; height:100%; visibility:hidden; list-style:none; opacity:1;}
.advanced-slider .slide .image, .advanced-slider .slide .thumbnail, .advanced-slider .slide .caption{position:absolute;}
.advanced-slider .slide-arrows{position:static;}
.advanced-slider .slide-arrows a{position:absolute; cursor:pointer;}
.advanced-slider .caption-container .background{position:absolute; width:100%; height:100%;}
.advanced-slider .thumbnail-wrapper{position:absolute;}
.advanced-slider .thumbnail{background-position:center; background-repeat:no-repeat; position:absolute; overflow:hidden; border-radius:0px;}
.advanced-slider .thumbnail-scroller{position:absolute; z-index:2; left:28px !important; width:86% !important;}
.advanced-slider .thumbnail-scroller .visible-container{position:relative; overflow:hidden; top:-31px; background-color:transparent;}
.advanced-slider .thumbnail-scroller .containers{position:absolute; overflow:visible; top:0; left:0; list-style:none; margin:0; padding:0;}
.advanced-slider .thumbnail-scroller .thumbnail-wrapper{cursor:pointer; list-style:none;}
.advanced-slider .thumbnail .caption{position:absolute; left:0px; padding:0px; width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.advanced-slider .thumbnail .caption .background{position:absolute; width:100%; height:100%;}
.advanced-slider .thumbnail .caption .content{position:absolute; width:100%;}
.advanced-slider .thumbnail-scroller .arrows a{position:absolute; cursor:pointer; top:0px;}
.advanced-slider .timer-animation{position:absolute;}
.advanced-slider .timer-animation .timer-animation-controls{position:absolute; cursor:pointer; width:20px; height:20px; top:50%; left:50%; margin-top:-10px; margin-left:-10px;}
.advanced-slider .timer-animation .timer-animation-controls{background:url(../images/playpause_small.png) no-repeat;}
#responsive-slider{font-family:'Open Sans', sans-serif; min-height:398px;}
.glossy-square-gray .slide-arrows a{background:url(../images/carousel_nav.png) no-repeat; width:19px; height:20px; top:60%; margin-top:-32px;}
.glossy-square-gray .slide-arrows a.previous{left:15px;}
.glossy-square-gray .slide-arrows a.next{right:15px; background-position:-19px 0;}
.glossy-square-gray .timer-animation{top:20px; right:20px;}
.glossy-square-gray .caption-container .background{background-color:#000; width:100%; height:100%;} 
.glossy-square-gray .caption-container .caption{color:#fff; margin:0; padding:8px; font-size:16px; line-height:18px;}
.glossy-square-gray .thumbnail{border:1px solid #666;}
.glossy-square-gray .thumbnail-scroller.horizontal{bottom:0; padding:0 47px; margin:30px 0 0 0px;}
.glossy-square-gray .thumbnail-scroller .thumbnail-wrapper{margin:5px; padding:4px;}
.glossy-square-gray .thumbnail-scroller .thumbnail.select{border:solid 1px #F00;}
.glossy-square-gray .thumbnail .caption .background{background-color:#000; opacity:0.5;}
.glossy-square-gray .thumbnail .caption .content{color:#fff; font-size:12px; line-height:14px; text-align:center; padding:2px 0px; margin:0;}
.glossy-square-gray .thumbnail-scroller .arrows a{background:url(../images/carousel-nav.png) no-repeat; width:30px; height:30px; margin:-28px 0 0 0px; padding:0px;}
.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.previous{left:0; position:absolute; top:0px;}
.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.next{right:0; background-position:-30px 0;}

.tourpkg-heading{letter-spacing:0.02em;}
.tourpkg-heading h1{font:1.3em/1.1em "Trajan Pro"; color:#bb000f; margin-top:5px; margin-bottom:0;}
.tourpkg-heading p{font:1.1em/24px "Trajan Pro"; color:#555; padding-top:8px; margin-bottom:0px;}

.tourpkg-info{border-top:1px dotted #828282; border-bottom:1px dotted #828282; padding-top:9px; padding-bottom:9px; margin-top:10px;}

a.tourmap{font:1.4em "Century Gothic"; color:#222; text-decoration:none; text-align:center; padding:8px 20px; display:inline-block; background-color:#e4e5e5; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer;}
a.tourmap:hover{box-shadow:0 0 5px 0 #999; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}

.tourpkg-price{letter-spacing:0.02em;}
.tourpkg-price span{display:inline;}
.tourpkg-price strong{font:1.4em "Century Gothic"; color:#575757;}
.tourpkg-price p{font:italic 1.15em Georgia, "Times New Roman", Times, serif; color:#222; margin-bottom:0px; display:inline;}
.tourpkg-price b{font:italic 1.15em Georgia, "Times New Roman", Times, serif; color:#222; margin-bottom:0px; display:block;}
.tourpricebx{float:left; width:80%;}
.price-icon{width:31px; height:30px; background:url(../images/price-icon.png) no-repeat left top; float:left; margin-top:8px !important; margin-right:5px;}

.inquire-box{margin:5px auto; text-align:center;}
a.inquirebtt{font:1.4em "Century Gothic"; color:#fff; text-decoration:none; text-transform:uppercase; text-align:center; display:inline-block; padding:8px 20px; margin:0 auto; background-color:#d34205; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
a.inquirebtt:hover{color:#fff; background-color:#bf000c;}

.pkgwth{width:847px;}
.pkgtour-listdet{background-color:#222; padding:8px; margin-top:0px;}
.pkgtour-listdet ul{margin:8px auto; padding:0; text-align:center;}
.pkgtour-listdet ul li{padding:0 15px; list-style:none; display:inline;}
.pkgtour-listdet ul li a{padding:8px 15px; font:1.25em "Century Gothic"; color:#111; text-decoration:none; text-transform:uppercase; background-color:#f3f4f4; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.pkgtour-listdet ul li a:hover{color:#fff; background-color:#bf000c;}
.pkgtour-listdet ul li > a.active{color:#fff; background-color:#bf000c;}

.pkgtour-textwrap{margin-top:25px; padding-bottom:25px; background:url(../images/menubg.jpg) repeat-x left bottom; letter-spacing:0.02em;}
.pkgtour-head{letter-spacing:0.02em; margin-bottom:20px;}
.pkgtour-head span{font:1.42em "Trajan Pro" !important; color:#bf000c; text-align:center; border-bottom:1px dotted #828282; padding-bottom:5px;}
.pkgtour-head a{padding:85px 0 0px;}
.pkgtour-textwrap p{font:1.15em/24px "Century Gothic"; color:#333; text-align:justify;}
.pkgtour-textwrap .maintxt{font:1.5em Rockwell; color:#bf000c; padding-top:15px; padding-bottom:5px; display:block;}
.pkgtour-textwrap ul{margin:10px 0 0px; padding-left:15px;}
.pkgtour-textwrap ul li{list-style:circle; text-align:left; font:1.15em "Century Gothic"; padding-bottom:10px;}

.txtincl{font:1.85em "Trajan Pro"; color:#bf000c; padding-top:15px; display:block;}

ul.pkghigh{margin-top:10px; margin-left:0px;}
ul.pkghigh li{list-style:none; float:left; width:46%; font:1.15em "Century Gothic"; padding:0 10px 10px 18px; background:url(../images/right-arrow.png) no-repeat 0 7px;}

.pkgtour-days:first-child{margin-top:30px; border:1px solid #f00 !important}
.pkgtour-days{background-color:#f0f0ef; padding:15px; margin-top:5px;}
.itinerary-dayinfo{letter-spacing:0.02em; margin-bottom:6px;}
.itinerary-dayinfo span{background-color:#333; display:inline-block; font:bold 17px "Century Gothic"; color:#fff; padding:5px 10px; text-align:center;}
.itinerary-dayinfo strong{font:bold 17px "Century Gothic"; color:#333;}
.pkgtour-days p{font:1.15em/24px "Century Gothic"; color:#333; text-align:justify; padding-top:6px;}

/*---tour package landing css--*/
.panel-heading a:focus{outline:none;}
.panel-heading{padding:5px 15px 8px;}
.panel-default > .panel-heading{background-color:#fff;}
.panel-heading a, .panel-heading a:hover, .panel-heading a:focus{text-decoration:none;}
.panel-heading a{font:18px "Century Gothic"; color:#fff; margin:0px; text-align:left; padding-right:30px;}

.fancy-collapse-panel .panel-heading a{display:inline-block; color:#333; position:relative; width:100%; text-decoration:none;}
.fancy-collapse-panel .panel-heading a:after{font-family:"Glyphicons Halflings"; content:"\2212"; position:absolute; top:18%; right:0px; font-size:13px; font-weight:400; line-height:1; padding-top:3px; margin-right:-5px;}
.fancy-collapse-panel .panel-heading a.collapsed:after{content:"\2b";}
/*---tour package landing css end--*/

.tab-listbx, .table-newbg{letter-spacing:0.02em;}
.tab-listbx table, .table-newbg table{width:100%;}
.tab-listbx tr{background-color:#fff;}
.tab-listbx tr:nth-child(2n){background-color:#f1f1f2;}
.tab-listbx th{background-color:#e6e6e6; font:normal 1.19em "Trajan Pro" !important; color:#333; text-align:center !important; padding-top:6px; padding-bottom:6px;}
.tab-listbx td{text-align:center !important; padding-top:6px; padding-bottom:6px; font-size:1.11em;}

.table-newbg table tr{background-color:#fcf8e3;}
.table-newbg table tr:nth-child(2n){background-color:#fff;}
.table-newbg table th{font:normal 1.01em "Trajan Pro" !important; color:#222; text-align:center !important; padding-top:6px; padding-bottom:6px; background-color:#ffc000;}
.table-newbg table td{padding-top:8px; padding-bottom:8px; text-align:center !important; font-size:1.11em;}

a.tourinqbtt{font:1.4em "Century Gothic"; color:#fff; text-decoration:none; text-transform:uppercase; padding:8px 20px; margin:10px 25px; display:inline-block; background-color:#bf000c; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
a.tourinqbtt:hover{color:#fff; background-color:#d34205;}

.contwth, .callwth{width:263px;}

.callus{margin-top:15px; padding:5px; border:3px solid #fff; outline:1px solid #bcbcbc; background-color:#f5f5f5; *background-color:#e6e6e6; background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image:-o-linear-gradient(top, #ffffff, #e6e6e6); background-image:linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0); filter:progid:DXImageTransform.Microsoft.gradient(enabled=false); *zoom:1; -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);}
.callus img{float:left; margin:5px 10px 0px;}
.callus p{display:inline;}
.callus strong{font:bold 1.3em "Century Gothic"; color:#333; display:block;}
.callus span{font:1.45em "Trajan Pro"; color:#bf000c;}

.expBut{float:right; font:13px "Century Gothic"; color:#fff; background-color:#d34205; padding:1px 5px 3.5px; margin-top:7px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer;}

.h1-head1{font:38px "Trajan Pro"; color:#bf000c; margin-top:0px; margin-bottom:0px; background:url(../images/gray-dots-lines.png) no-repeat center bottom; padding-bottom:8px;}

.group-trsbox{margin-top:25px; margin-bottom:25px; letter-spacing:0.01em;}
.group-trsbox img{position:relative;}
.group-trs-outterbx{position:absolute; top:80px; left:30px; width:55%; background:url(../images/bg-white-light.png) repeat left top; padding:10px;}
.group-trs-innerbx{background:url(../images/whitebg.png) repeat left top; padding:12px;}
.group-trs-innerbx h2{font:small-caps 28px/30px Corbel; color:#111; margin-top:0px; margin-bottom:20px;}
.group-trs-innerbx h2 a{color:#111;}
.group-trs-innerbx h2::after{content:""; display:block; width:75px; height:2px; background-color:#111; margin-top:8px;}
.group-trs-innerbx p{font:italic 16px/20px Corbel; color:#333;}
.group-trs-btton{margin-top:8px; margin-left:-10px;}
.group-trs-btton .viewbtt-all{display:inline-block; background-color:#bf000c; padding:5px 15px; font:16px "Trajan Pro"; color:#fff;}
.group-trs-btton .viewbtt-all:hover{background-color:#ee7125;}
.group-trs-btton img{display:inline-block; margin-left:-15px;}

@media only screen and (max-width: 580px){
.pkgform-box{width:100%; margin-top:20px;}
}

@media only screen and (max-width: 515px){
.pkginterestwrap{width:100%;}	
.top-search-wrapper .search-dest{width:auto;}
}

@media only screen and (max-width: 620px){
.dest-schbx{margin-top:20px; margin-bottom:20px;}
.pdd, .destsch-innerbx .schbtt{width:100%;}	
.destpkg-bgbx{width:100%; padding-left:15px; padding-right:15px;}
}

@media screen and (max-width: 630px) {
.group-trsbox img{width:80%;}	
}

@media (min-width: 768px) and (max-width: 991px) {
.pkginterestwrap{margin-bottom:15px;}
.tourpack-price{margin-bottom:10px;}
.detailbtt-tourpack{margin-bottom:10px;}

.search-inner-tourdest label{padding-left:0px;}
.holiday-offersbx{margin-bottom:15px;}
.holiday-offersbx a{width:160px;}
.plantrip-wrapper{margin-top:-190px}	
}

@media (max-width: 991px) {
.h1-txt, interl-head1, .headingh1, .heading-hsab1, .wdheading-h2, .h1-heading, .tour-mheading, .heading-main1{font-size:1.6em !important;}	
.h2-txt, .heading-hsab, .trdurhead, .small-hd1, .zmidtext .white-linet, .wmg, .h2-heading, .travel-guide-heading2, .small-heading3{font-size:1.5em;}
.cont-wth1{width:158px;}
.pkgform-headbx, .search-inner-tourdest label{font-size:1.4em;}	
.tourpack-price, .detailbtt-tourpack{margin-bottom:10px !important;}

.pkgform-wrapper{margin-top:20px;}
.statdh{position:static !important}
.contwth, .callwth{width:100%;}
.pkgwth{display:none;}
.tour-destbx span{left:10px;}
.tourdur-innerbx img{text-align:center; margin:0 auto 5px;}
.top-search-wrapper{margin-bottom:20px;}
.top-search-wrapper{margin-top:45px; margin-bottom:13px;}
.top-search-wrapper{margin-top:7px;}
.top-search-wrapper strong{font-size:1.8em; margin-bottom:15px;}
.interl-head1{text-align:center; display:block;}
.inter-tourbx{text-align:center;}
.inter-tourbx img{margin:0 auto;}
.inter-tourbx span{margin-top:0px; margin-bottom:10px;}
.inter-tourbx .dbarrow, .inter-tourbx a:hover > .dbarrow{float:none;}
.border1, .border3{border-left:none;}
.inthgt{min-height:310px;}
.zoneleftbx img{margin:0 auto;}
.group-trsbox, .phtgy-ldwth{text-align:center;}
.group-trsbox a{display:inline-block; margin:0 auto;}
.group-trsbox img{margin:0 auto;}
.group-trs-outterbx{width:74%; left:97px; bottom:5px; top:inherit; text-align:left;}

.tourpack-left{padding-left:15px !important; margin-left:0px !important;}	
}

@media (max-width: 767px) {
.pkginterestwrap{padding-left:15px;}
.pkginterestwrap span{left:15px;}
.tourpack-listwrap{text-align:center;}
.tourpack-listwrap img{margin:0 auto 10px;}	
.tourpackdays{text-align:center;}
.statdh1{position:static !important}
.cont-wth1{width:auto;}
.destpkg-bgbx{margin-top:15px; margin-bottom:15px;}

.tourgallery{padding-left:15px; padding-right:15px;}
.tourpkg-heading{margin-top:-10px;}
.tourpkg-info, .tourpkg-heading{text-align:center;}
a.tourmap{padding:8px 20px; margin:10px 0px;}
.price-icon{float:none;}
.tourpkg-price span{display:inline-block;}
ul.pkghigh li{float:none; width:100%;}
.advanced-slider .thumbnail-scroller{left:inherit !important; width:auto !important; position:relative; margin:0 auto;}
.glossy-square-gray .thumbnail-scroller.horizontal{padding:0 43px;}
.advanced-slider .thumbnail-scroller .visible-container{margin:0 auto;}
.callus{text-align:center;}
.callus img{float:none;}
.search-inner-tourdest label{padding-top:0px; padding-bottom:6px; text-align:center; display:block;}
.gobtt-turdest{margin:15px auto 0px; text-align:center; display:block;}
.holiday-offersbx{margin-bottom:20px; text-align:center;}
.holiday-offersbx img{margin:0 auto;}
.holiday-offersbx a{width:auto; padding:3px 15px;}
.sdlmg{margin-bottom:20px; text-align:center; background-color:#ccc;}
.sdlmg .carousel-inner{display:inline-block; width:auto; margin-bottom:-5px;}
.season-box img{text-align:center; margin:0 auto 5px;}
.gpbanner img{margin:0 auto; text-align:center;}
.inthgt{min-height:inherit;}
.border4{border-right:none;}
.plantrip-wrapper{margin-top:-120px}
.group-trsbox img{width:60%;}
.group-trs-outterbx{width:auto; position:static;}
.group-trs-outterbx{text-align:center;}
.group-trs-innerbx h2{margin-bottom:10px;}
.group-trs-innerbx h2::after{margin:8px auto 0px;}
.group-trs-btton{margin-left:0px; margin-top:15px;}
.group-trs-btton img{display:none;}
}

@media only screen and (max-width: 480px){
.advanced-slider img{width:100%; height:auto;}
#responsive-slider{min-height:260px;}
.advanced-slider .thumbnail{background-position:center; width:57px !important; height:35px !important;}
.glossy-square-gray .thumbnail-scroller .thumbnail-wrapper{margin:5px 3px; padding:4px 1px;}
.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.previous{left:7%;}
.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.next{right:7%; background-position:-30px 0;}
}

@media only screen and (max-width: 330px){
.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.previous{left:0%;}
.glossy-square-gray .thumbnail-scroller.horizontal .arrows a.next{right:0%;}
}

@media only screen and (max-width: 300px){
.leftpd{width:100%; padding-left:15px;}
.codwh{width:100%;}
.glossy-square-gray .thumbnail-scroller.horizontal{padding:0 40px;}
}

@media only screen and (max-width: 360px){
.tour-destbx1{padding:0 10px;}
.tour-destbx1 span{left:15px;}	
}

@media only screen and (max-width: 374px){
.top-search-wrapper .gobtt{margin-top:15px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}	
}

@media only screen and (max-width: 390px){
.sdlmg .carousel-inner{display:block;}	
}

@media only screen and (max-width: 400px){
.tour-destbx{width:100%; text-align:center;}
.tour-destbx a{display:inline-block;}
.tour-destbx span{position:static; color:#222; text-shadow:none;}
.tour-destbx a:hover > span{color:#bb000f;}	
}

@media only screen and (max-width: 470px){
.inter-tourbx{width:100%;}	
.plantrip-wrapper{margin-top:-60px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
.cont-wth1{width:212px;}

.pkgform-box{padding:15px 12px;}
.callus span{font-size:1.3em;}
.glossy-square-gray .thumbnail-scroller.horizontal{padding:0 38px;}
.pkgwth{width:698px;}
.contwth, .callwth{width:236px;}
.holiday-offersbx a{width:134px;}
.top-search-wrapper strong{font-size:36px;}
.plantrip-wrapper{margin-top:-260px}
.plantrip-wrapper{height:535px;}
.group-trs-outterbx{top:50px;}
.group-trs-btton img{width:52%;}
}

@media (max-width: 1199px) {
a.tourmap{padding:8px 7px;}
.pkgtour-listdet ul li{padding:0 1px;}
.advanced-slider .thumbnail-scroller{left:0px !important; width:100% !important;}
.glossy-square-gray .thumbnail-scroller.horizontal{padding:0 43px;}

.tourpack-left{padding-left:15px !important; margin-left:0px !important;}
}








