/*   
Text Color:#FF4081
Text Hover Color:#00bff3
Shape Color:#FB3F7F
*/
a{
    color: #FF4081;
}
a:hover {
    color: #00bff3;
}
.nav-menu li a:hover{
	color: #FF4081;
}
.nav-social-icons li a i{
    color: #FB3F7F;
}
.nav-social-icons li:hover  i{
	color:#00bff3;
}
.search-btn {
    background-color: #FB3F7F;
}
.orange-color {
    color: #FB3F7F;
}
.rectangle-list-style{
    border: 2px solid #FB3F7F;
}
.categories.content-box-body > ul > li:hover .rectangle-list-style{
	background-color: #FB3F7F;
	border:0;
}
.popular.content-box-body > ul > li:hover .rectangle-list-style{
	background-color: #FB3F7F;
	border:0;
}
.categories a:hover {
    color: #FF4081;
}
.article-text h2:hover {
    color: #FF4081;
}
.popular.content-box-body a:hover {
    color: #FF4081;
}
.pagination ul li.active a {
    color: #FF4081 !important;
}
.pagination ul li a:hover {
    color: #00bff3;
}
.pagination ul li.active {
    border: 1px solid #FF4081;
}
.Subscribe-btn {
    background-color: #FB3F7F;
}
.footer-bttom-line {
    background-color: #FB3F7F;
}
.Subscribe-form input:focus {
    border: 1px solid #FB3F7F;
}
.form-control:focus {
    border-color: #FB3F7F;
}
.comment-form a, .contact-form a, .back-home-a:hover {
    color: #FF4081 !important;
}
.comment-form a:hover i, .comment-form a:hover, .contact-form a:hover i, .contact-form a:hover, .back-home-section:hover a, .back-home-section:hover i {
    color: #00bff3 !important;
}
.blue-color {
    color: #FB3F7F;
}
.cat-breadcrumb h1 {
    color: #FF4081;
}
ul.post-info li a:hover {
    color: #00bff3;
}
.post-author-info h3 {
    color: #FB3F7F;
}
ul.post-info a:hover span {
    color: #00bff3;
}
.post-author-info-social i:hover {
    color: #00bff3;
}
.comment-relpy-btn {
    color: #FF4081;
}
.comment-relpy-btn:hover {
    color: #00bff3 !important;
}
.content-box-head i.fa-twitter{
	color:#00bff3;
}
ul.post-tags li a:hover {
    color: #00bff3;
}
ul.share-post li a:hover {
    color: #00bff3;
}
.error-search input:focus {
    border: 1px solid #FB3F7F;
}
.about-me {
    background-color: #FB3F7F;
}
.owl-theme .owl-controls .owl-page span {
    background: #FB3F7F !important;
}